
header.landing_page_restaurants {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #fff;
    z-index: 99;
}

header.landing_page_restaurants > .container {
    height: 100%;
}

header.landing_page_restaurants > .container::after {
    content: '';
    display: block;
    clear: both;
}

header.landing_page_restaurants > .container > figure {
    width: auto;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    box-sizing: border-box;
}

header.landing_page_restaurants > .container > figure > img {
    width: auto;
    height: 100%;
}

header.landing_page_restaurants > .container > nav,
header.landing_page_restaurants > .container > a {
    width: auto;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    box-sizing: border-box;
}

header.landing_page_restaurants > .container > nav > a {
    width: auto;
    height: 100%;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #00a5ab;
}

header.landing_page_restaurants > .container > nav > a.active {
    color: #24383f;
}

header.landing_page_restaurants > .container > nav > a.focus {
    padding: 0px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #00a5ab;
    color: #fff;
}

header.landing_page_restaurants > .container > a {
    display: none;
    padding-right: 40px;
    color: #00a5ab;
}

/*  */

footer.landing_page_restaurants {
    width: 100%;
    height: 100px;
    background-color: #fff;
}

footer.landing_page_restaurants > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

footer.landing_page_restaurants > div > a {
    margin: 0px 10px;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

footer.landing_page_restaurants > span {
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

/*  */

main.landing_page_restaurants[data-target="1"] {
    padding-top: 100px;
}

main.landing_page_restaurants[data-target="3"] {
    padding-top: 250px;
}

main.landing_page_restaurants > section.stn_1 {
    width: 100%;
    height: 100vh;
    min-height: 625px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

main.landing_page_restaurants > section.stn_1 > div {
    width: 100%;
    height: calc(100% - 100px);
    position: relative;
    background: #00a2a9;
    background: -webkit-linear-gradient(to bottom, #104a5b, #00a2a9);
    background: linear-gradient(to bottom, #104a5b, #00a2a9);
}

main.landing_page_restaurants > section.stn_1 > div > figure {
    width: calc(50% - 50px);
    height: 100%;
    position: absolute;
    top: -50px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}

main.landing_page_restaurants > section.stn_1 > div > figure > img {
    width: auto;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

main.landing_page_restaurants > section.stn_1 > div > div {
    width: calc(50% - 50px);
    height: 100%;
    position: absolute;
    top: 0px;
    right: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    box-sizing: border-box;
}

main.landing_page_restaurants > section.stn_1 > div > div > h1,
main.landing_page_restaurants > section.stn_1 > div > div > h2 {
    font-weight: 400;
    color: #fff;
}

main.landing_page_restaurants > section.stn_1 > div > div > h1 {
    font-size: 48px;
}

main.landing_page_restaurants > section.stn_1 > div > div > h2 {
    font-size: 18px;
}

main.landing_page_restaurants > section.stn_1 > div > div > p {
    max-width: 400px;
    margin: 20px 0px;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
}

main.landing_page_restaurants > section.stn_1 > div > div > a {
    width: auto;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 40px;
    background-color: #10495b;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

/*  */

main.landing_page_restaurants > section.stn_2,
main.landing_page_restaurants > section.stn_3,
main.landing_page_restaurants > section.stn_5,
main.landing_page_restaurants > section.stn_6 {
    width: 100%;
    height: 100vh;
    min-height: 625px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.landing_page_restaurants > section.stn_5 {
    height: 625px;
}

main.landing_page_restaurants > section.stn_6 {
    height: 900px;
}

main.landing_page_restaurants > section.stn_2 > div,
main.landing_page_restaurants > section.stn_3 > div,
main.landing_page_restaurants > section.stn_5 > div,
main.landing_page_restaurants > section.stn_6 > div {
    width: 100%;
    height: calc(100% - 300px);
    position: relative;
}

main.landing_page_restaurants > section.stn_2 > div,
main.landing_page_restaurants > section.stn_6 > div {
    background-color: #10495b;
}

main.landing_page_restaurants > section.stn_3 > div,
main.landing_page_restaurants > section.stn_5 > div {
    background-color: #126072;
}

main.landing_page_restaurants > section.stn_2 > div > div,
main.landing_page_restaurants > section.stn_3 > div > div,
main.landing_page_restaurants > section.stn_5 > div > div,
main.landing_page_restaurants > section.stn_6 > div > div {
    position: absolute;
    top: -50px;
    right: 50px;
    bottom: -50px;
    left: 50px;
    border-radius: 20px;
}

main.landing_page_restaurants > section.stn_6 > div > div {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 50px;
    box-sizing: border-box;
}

main.landing_page_restaurants > section.stn_2 > div > div,
main.landing_page_restaurants > section.stn_6 > div > div {
    background-color: #126072;
}

main.landing_page_restaurants > section.stn_3 > div > div,
main.landing_page_restaurants > section.stn_5 > div > div {
    background-color: #10495b;
}

main.landing_page_restaurants > section.stn_2 > div > div > figure,
main.landing_page_restaurants > section.stn_3 > div > div > figure {
    width: auto;
    position: absolute;
    top: -50px;
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main.landing_page_restaurants > section.stn_2 > div > div > figure {
    right: 50px;
}

main.landing_page_restaurants > section.stn_3 > div > div > figure {
    left: 50px;
}

main.landing_page_restaurants > section.stn_2 > div > div > figure > img,
main.landing_page_restaurants > section.stn_3 > div > div > figure > img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

main.landing_page_restaurants > section.stn_2 > div > div > div,
main.landing_page_restaurants > section.stn_3 > div > div > div {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

main.landing_page_restaurants > section.stn_2 > div > div > div {
    left: 0px;
    padding-left: 50px;
}

main.landing_page_restaurants > section.stn_3 > div > div > div {
    right: 0px;
    padding-right: 50px;
}

main.landing_page_restaurants > section.stn_2 > div > div > div > h2 {
    font-size: 48px;
    font-weight: 400;
    color: #fff;
}

main.landing_page_restaurants > section.stn_2 > div > div > div > ul {
    margin: 20px 0px;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
}

main.landing_page_restaurants > section.stn_2 > div > div > div > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

main.landing_page_restaurants > section.stn_2 > div > div > div > div > a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    color: #126072;
}

main.landing_page_restaurants > section.stn_2 > div > div > div > a,
main.landing_page_restaurants > section.stn_3 > div > div > div > a {
    width: auto;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 40px;
    background-color: #00a5ab;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

/*  */

main.landing_page_restaurants > section.stn_3 > div > div > div > div {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

main.landing_page_restaurants > section.stn_3 > div > div > div > div > span {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #adcadc;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}

main.landing_page_restaurants > section.stn_3 > div > div > div > div > h2 {
    width: calc(100% - 50px);
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

main.landing_page_restaurants > section.stn_3 > div > div > div > div > h2 > span {
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

/*  */

main.landing_page_restaurants > section.stn_4 {
    width: 100%;
    height: 100vh;
    min-height: 625px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.landing_page_restaurants > section.stn_4 > div {
    width: 100%;
    height: calc(100% - 300px);
    position: relative;
    background: #104a5b;
    background: -webkit-linear-gradient(to bottom, #00a2a9, #104a5b);
    background: linear-gradient(to bottom, #00a2a9, #104a5b);
}

main.landing_page_restaurants > section.stn_4 > div > figure {
    width: auto;
    position: absolute;
    top: -50px;
    right: 50px;
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main.landing_page_restaurants > section.stn_4 > div > figure > img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

main.landing_page_restaurants > section.stn_4 > div > div {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-right: 50px;
    box-sizing: border-box;
}

main.landing_page_restaurants > section.stn_4 > div > div > h2,
main.landing_page_restaurants > section.stn_4 > div > div > span {
    max-width: 400px;
    font-weight: 400;
    color: #fff;
}

main.landing_page_restaurants > section.stn_4 > div > div > h2 {
    font-size: 24px;
}

main.landing_page_restaurants > section.stn_4 > div > div > span {
    font-size: 14px;
}

main.landing_page_restaurants > section.stn_4 > div > div > span > i {
    margin-right: 5px;
}

main.landing_page_restaurants > section.stn_4 > div > div > a {
    width: auto;
    margin: 20px 0px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 40px;
    background-color: #00a5ab;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

/*  */

main.landing_page_restaurants > section.stn_5 > div > div > div {
    width: 50%;
    position: absolute;
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.landing_page_restaurants > section.stn_5 > div > div > div:first-child {
    left: 0px;
}

main.landing_page_restaurants > section.stn_5 > div > div > div:last-child {
    right: 0px;
}

main.landing_page_restaurants > section.stn_5 > div > div > div > span {
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #10495b;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

main.landing_page_restaurants > section.stn_5 > div > div > div > p {
    max-width: 400px;
    margin: 20px 0px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #10495b;
}

main.landing_page_restaurants > section.stn_5 > div > div > div > figure {
    width: 250px;
}

main.landing_page_restaurants > section.stn_5 > div > div > div > figure > img {
    width: 100%;
}

/*  */

main.landing_page_restaurants > section.stn_6 > div > div > div {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

main.landing_page_restaurants > section.stn_6 > div > div > div > h2 {
    width: calc(100% - 300px);
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

main.landing_page_restaurants > section.stn_6 > div > div > div > span {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
}

main.landing_page_restaurants > section.stn_6 > div > div > div > span.focus {
    color: #fff;
}

main.landing_page_restaurants > section.stn_6 > div > div > div > h6 {
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #10495b;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

@media (max-width: 768px) {

    main.landing_page_restaurants > section.stn_1,
    main.landing_page_restaurants > section.stn_4 {
        height: auto;
        min-height: auto;
        padding-top: 100px;
    }

    main.landing_page_restaurants > section.stn_4 {
        padding-bottom: 100px;
    }

    main.landing_page_restaurants > section.stn_1 > div,
    main.landing_page_restaurants > section.stn_4 > div {
        height: auto;
        padding: 0px 20px;
        box-sizing: border-box;
    }

    main.landing_page_restaurants > section.stn_1 > div > figure,
    main.landing_page_restaurants > section.stn_4 > div > figure {
        width: 100%;
        height: auto;
        position: relative;
        left: 0px;
    }

    main.landing_page_restaurants > section.stn_1 > div > figure > img,
    main.landing_page_restaurants > section.stn_4 > div > figure > img {
        width: 100%;
        height: auto;
    }

    main.landing_page_restaurants > section.stn_1 > div > div,
    main.landing_page_restaurants > section.stn_4 > div > div {
        width: 100%;
        height: auto;
        position: relative;
        padding-bottom: 20px;
    }

    main.landing_page_restaurants > section.stn_1 > div > div {
        right: 0px;
        padding-left: 0px;
    }

    main.landing_page_restaurants > section.stn_4 > div > div {
        left: 0px;
        padding-right: 0px;
    }

    main.landing_page_restaurants > section.stn_2 > div > div,
    main.landing_page_restaurants > section.stn_3 > div > div,
    main.landing_page_restaurants > section.stn_5 > div > div,
    main.landing_page_restaurants > section.stn_6 > div > div {
        right: 20px;
        left: 20px;
    }

    main.landing_page_restaurants > section.stn_2 > div > div > figure,
    main.landing_page_restaurants > section.stn_3 > div > div > figure {
        max-width: 300px;
        bottom: initial;
    }

    main.landing_page_restaurants > section.stn_2 > div > div > figure {
        right: 20px;
    }

    main.landing_page_restaurants > section.stn_3 > div > div > figure {
        left: 20px;
    }

    main.landing_page_restaurants > section.stn_2 > div > div > figure > img,
    main.landing_page_restaurants > section.stn_3 > div > div > figure > img {
        width: 100%;
        height: auto;
    }

    main.landing_page_restaurants > section.stn_2 > div > div > div,
    main.landing_page_restaurants > section.stn_3 > div > div > div {
        justify-content: flex-end;
        padding: 0px 30px 30px 30px;
    }

    main.landing_page_restaurants > section.stn_2 > div > div > div {
        padding-left: 30px;
    }

    main.landing_page_restaurants > section.stn_3 > div > div > div {
        max-width: 425px;
        padding-right: 20px;
    }

    main.landing_page_restaurants > section.stn_3 > div > div > div > div > h2 {
        padding-left: 10px;
    }

    main.landing_page_restaurants > section.stn_6 > div > div {
        right: 20px;
        left: 20px;
        padding: 0px 20px;
    }

    main.landing_page_restaurants > section.stn_6 > div > div > div > h2 {
        font-size: 14px;
    }
}

@media (max-width: 425px) {

    main.landing_page_restaurants[data-target="3"] {
        padding-top: 0px;
    }

    header.landing_page_restaurants > .container {
        width: 100%;
    }

    header.landing_page_restaurants > .container > figure {
        padding-left: 40px;
    }

    header.landing_page_restaurants > .container > nav {
        width: 100%;
        height: 100px;
        position: fixed;
        top: -100px;
        background-color: #fff;
        padding: 40px 0px;
        transition: 400ms;
    }

    header.landing_page_restaurants > .container > nav.open {
        top: 0px;
    }

    header.landing_page_restaurants > .container > nav > a {
        margin-left: 10px;
    }

    header.landing_page_restaurants > .container > nav > a.focus {
        padding: 0px 5px;
    }

    header.landing_page_restaurants > .container > a {
        display: flex;
    }

    main.landing_page_restaurants > section.stn_2,
    main.landing_page_restaurants > section.stn_3 {
        min-height: 1150px;
    }

    main.landing_page_restaurants > section.stn_2 > div > div > figure,
    main.landing_page_restaurants > section.stn_3 > div > div > figure {
        max-width: 100%;
        right: 30px;
        left: 30px;
    }

    main.landing_page_restaurants > section.stn_2 > div > div > div,
    main.landing_page_restaurants > section.stn_3 > div > div > div {
        height: auto;
        top: initial;
        right: 0px;
        left: 0px;
        bottom: 0px;
    }

    main.landing_page_restaurants > section.stn_3 > div > div > div {
        max-width: 100%;
    }

    main.landing_page_restaurants > section.stn_3 > div > div > div > div > span {
        width: 30px;
        height: 30px;
    }

    main.landing_page_restaurants > section.stn_3 > div > div > div > div > h2 {
        font-size: 14px;
        padding-left: 10px;
    }

    main.landing_page_restaurants > section.stn_5 {
        min-height: 1800px;
    }

    main.landing_page_restaurants > section.stn_5 > div > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    main.landing_page_restaurants > section.stn_5 > div > div > div {
        width: 100%;
        position: relative;
        bottom: initial;
    }

    main.landing_page_restaurants > section.stn_5 > div > div > div > span {
        background-color: #fff;
        color: #10495b;
    }

    main.landing_page_restaurants > section.stn_5 > div > div > div > p {
        color: #fff;
        padding: 0px 10px;
        box-sizing: border-box;
    }

    main.landing_page_restaurants > section.stn_5 > div > div > div:first-child {
        margin-bottom: 50px;
    }
}
