
header.landing_page_restaurants {
    width: 50px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #32586d;
    z-index: 99;
}

header.landing_page_restaurants > a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
}

header.landing_page_restaurants > figure {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

header.landing_page_restaurants > figure > img {
    width: 100%;
}

.gradient {
    background: #FFF;
    background: -moz-linear-gradient(left,  #FFF 0%, #FFF 50%, #24383f 50%, #24383f 100%);
    background: -webkit-linear-gradient(left,  #FFF 0%,#FFF 50%,#24383f 50%,#24383f 100%);
    background: linear-gradient(to right,  #FFF 0%,#FFF 50%,#24383f 50%,#24383f 100%);
}

.gradient_t {
    background: #FFF;
    background: -moz-linear-gradient(top,  #FFF 0%, #FFF 55%, #24383f 55%, #24383f 100%);
    background: -webkit-linear-gradient(top,  #FFF 0%,#FFF 55%,#24383f 55%,#24383f 100%);
    background: linear-gradient(to top,  #FFF 0%,#FFF 55%,#24383f 55%,#24383f 100%);
}

.gradient_c_r {
    background: #FFF;
    background: -moz-linear-gradient(right,  #FFF 0%, #FFF 50%, #24383f 50%, #24383f 100%);
    background: -webkit-linear-gradient(right,  #FFF 0%,#FFF 50%,#24383f 50%,#24383f 100%);
    background: linear-gradient(to right,  #FFF 0%,#FFF 50%,#24383f 50%,#24383f 100%);
}

.gradient_c_l {
    background: #FFF;
    background: -moz-linear-gradient(left,  #FFF 0%, #FFF 50%, #24383f 50%, #24383f 100%);
    background: -webkit-linear-gradient(left,  #FFF 0%,#FFF 50%,#24383f 50%,#24383f 100%);
    background: linear-gradient(to left,  #FFF 0%,#FFF 50%,#24383f 50%,#24383f 100%);
}

figure.logotype {
    position: relative;
    width: 300px;
    line-height: 0;
    padding-top: 20px;
}

figure.logotype > img {
    width: 100%;
}

main.landing_page_restaurants,
main.landing_page_restaurants > section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    z-index: 0;
}

#section_one .content {
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: inline-grid;
    grid-template-columns: 50% 50%;
}

#section_one .content > h3 {
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-right: 150px;
    text-align: center;
    font-weight: 300;
    font-size: 28px;
}

#section_one .content > p {
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    text-align: center;
    color: #FFF;
    font-weight: 200;
    padding-left: 120px;
    padding-top: 15vh;
    line-height: 60px;
}

@media (max-width: 991px) {
    #section_one.hand_background {
        background: #FFF;
        background: -moz-linear-gradient(left,  #FFF 0%, #FFF 75%, #24383f 75%, #24383f 100%);
        background: -webkit-linear-gradient(left,  #FFF 0%,#FFF 75%,#24383f 75%,#24383f 100%);
        background: linear-gradient(to right,  #FFF 0%,#FFF 75%,#24383f 75%,#24383f 100%);
    }

    #section_one.hand_background::before {
        background-position: right;
    }

    #section_one .content {
        grid-template-columns: 99%;
        width: 60%;
    }

    #section_one .content > h3 {
        padding: 0 0 20px;
        font-size: 28px;
        font-weight: bold;
        margin-right: 5%;
    }

    #section_one .content > p {
        padding: 0;
        text-align: center;
        color: #222;
        font-size: 26px;
        font-weight: 300;
        margin-right: 5%;
    }
}

@media (max-width: 767px) {
    #section_one.hand_background {
        background: #24383f;
    }

    #section_one.hand_background::before {
        background-position: bottom;
        background-size: 25em;
        opacity: 0.2;
    }

    #section_one .content {
        width: 100%;
    }

    #section_one .content > h3 {
        padding: 0;
        margin-right: 10%;
        font-size: 25px;
        font-weight: bold;
        color: #FFF;
        padding-bottom: 5px;
    }

    #section_one .content > p {
        padding: 0;
        margin-right: 10%;
        text-align: center;
        color: #222;
        font-size: 20px;
        font-weight: 300;
        color: #FFF;
    }
}

#section_two {
    min-height: auto;
    margin: 0px 0px 50px;
}

span.st_2_img_1,
span.st_2_img_2,
span.st_2_img_3 {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

span.st_2_img_1 {
    background-image: url('../../images/hi/restaurants/st_2_img_1.png');
}

span.st_2_img_2 {
    background-image: url('../../images/hi/restaurants/st_2_img_2.png');
}

span.st_2_img_3 {
    background-image: url('../../images/hi/restaurants/st_2_img_3.png');
}

#section_two .content {
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}

#section_two .box {
    width: 90%;
    height: calc(100% - 120px);
    padding: 60px 20px;
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
}

#section_two .box p {
    color: #24383f;
    font-weight: 500;
}

#section_two a.btn {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    padding: 20px 20px;
    display: block;
    border-radius: 50px;
    background-color: #24383f;
    color: #FFF;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none !important;
    box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
}

@media (max-width: 767px) {
    #section_two {
        margin: 0px 0px;
    }

    #section_two.gradient_t {
        background: #FFF;
        background: -moz-linear-gradient(right,  #FFF 0%, #FFF 30%, #24383f 30%, #24383f 100%);
        background: -webkit-linear-gradient(right,  #FFF 0%,#FFF 30%,#24383f 30%,#24383f 100%);
        background: linear-gradient(to right,  #FFF 0%,#FFF 30%,#24383f 30%,#24383f 100%);
    }

    #section_two .content {
        grid-template-columns: 100%;
    }

    #section_two .content > div {
        margin-bottom: 50px;
    }

    #section_two a.btn {
        background-color: #FFF;
    color: #24383f;
    font-weight: 400;
    }
}

#section_three {
    background-color: #24383f;
    min-height: auto;
    padding-bottom: 50px;
}

#section_three > .container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 70px 0;
    align-items: center;
}

#section_three > .container h3 {
    color: #FFF;
    font-weight: 200;
    font-size: 43px;
    line-height: 1.8;
}

#section_three > .container figure {
    width: 100%;
    height: auto;
    line-height: 0;
}

#section_three > .container figure > img {
    width: 100%;
}

@media (max-width: 991px) {
    #section_three > .container {
        grid-template-columns: 100%;
    }

    #section_three > .container h3 {
        margin-bottom: 50px;
    }

    #section_three > .container figure > img {
        max-width: 500px;
        margin: 0 auto;
        display: block;
    }
}

#section_four,
#section_six {
    background-color: #FFF;
    display: inline-grid;
}

#section_six {
    background-color: #24383f;
}

#section_four::before,
#section_six::before {
    content: "";
    position: absolute;
    width: calc(60% - 50px);
    height: calc(100%);
    top: 0;
    left: 0;
    background-image: url('../../images/hi/restaurants/background_1.jpg');
    background-position: left;
    background-size: cover;
}

#section_six::before {
    background-image: url('../../images/hi/restaurants/background_2.jpg');
    background-position-x: left;
}

#section_four > .container,
#section_six > .container {
    background: #FFF;
    background: -moz-linear-gradient(left,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, #FFF 60%, #FFF 100%);
    background: -webkit-linear-gradient(left,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, #FFF 60%, #FFF 100%);
    background: linear-gradient(to right,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, #FFF 60%, #FFF 100%);
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section_six > .container {
    background: #FFF;
    background: -moz-linear-gradient(left,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, #24383f 60%, #24383f 100%);
    background: -webkit-linear-gradient(left,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, #24383f 60%, #24383f 100%);
    background: linear-gradient(to right,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, #24383f 60%, #24383f 100%);
}

#section_four h3{
    position: relative;
    width: 40%;
    margin-left: 60%;
    color: #949494;
    font-weight: 200;
    font-size: 40px; /*Eran 28px*/
    text-align: left;
}

#section_six h3 {
    position: relative;
    width: 40%;
    margin-left: 60%;
    color: #949494;
    font-weight: 200;
    font-size: 34px;
    text-align: center;
    line-height: 65px;
}

#section_six h3 {
    color: #FFF;
}

#section_four > span {
    position: absolute;
    top: 80%;
    left: 51%;
    width: 350px;
    background-color: #24383f;
    padding: 50px 50px 200px 50px;
    border-radius: 30px;
    font-size: 28px;
    line-height: 1.2;
    color: #FFF;
    text-align: center;
}

#section_four > span > span.st_2_img_1 {
    width: 40px;
    height: 40px;
    margin: 10px 0 0;
}

@media (max-width: 991px) {
    #section_four,
    #section_six {
        display: block;
        min-height: auto;
    }

    #section_four::before,
    #section_six::before {
        position: relative;
        width: 100%;
        height: 300px;
        display: block;
        margin-bottom: 50px;
    }

    #section_four > .container,
    #section_six > .container {
        background: #FFF;
        padding-bottom: 50px;
    }

    #section_six > .container {
        background: #24383f;
    }

    #section_four h3{
        position: relative;
        width: 100%;
        margin-left: 0%;
        font-size: 34px;
    }

    #section_six h3{
        position: relative;
        width: 100%;
        margin-left: 0%;
        font-size: 34px;
    }

    #section_four > span {
        display: none;
    }
}

#section_five {
    padding: 50px 0;
    min-height: auto;
}

#section_five > .container > h5 {
    text-align: center;
    font-size: 55px;
    font-weight: 300;
    color: #b7b7b7;
    text-transform: uppercase;
    margin-left: 40%;
}

#section_five > .container > div {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 30px;
}

#section_five > .container > div > img {
    width: 100%;
}

#section_five > .container > div > .content {
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
}

#section_five > .container > div > .content > h3 {
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    padding-top: 50px;
}

#section_five > .container > div > .content > a.btn {
    margin: 30px auto 0;
    width: 300px;
    text-align: center;
    padding: 20px 20px;
    display: block;
    border-radius: 50px;
    background-color: #24383f;
    color: #FFF;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none !important;
    box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
}

@media (max-width: 991px) {
    #section_five {
        background-color: #F1F1F1;
    }

    #section_five > .container > div {
        grid-template-columns: 100%;
    }

    #section_five > .container > div > img {
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
    }

    #section_five > .container > div > .content {
        padding-left: 0px;
    }

    #section_five > .container > h5 {
        margin: 0;
    }

    #section_five > .container > div > .content > h3 {
        text-align: center;
        margin-right: 5%;
    }
}

#section_seven {
    padding: 100px 0 0;
    min-height: auto;
}

#section_seven > .container {
    position: relative;
}

#section_seven > .container h3 {
    position: absolute;
    width: 50%;
    top: -50px;
    left: 50%;
    text-align: center;
    line-height: 1.1;
    font-weight: 300;
    color: #24383f;
}

#section_seven > .container img {
    width: 80%;
    line-height: 0;
    margin: 0 auto;
    display: block;
}

@media (max-width: 991px) {
    #section_seven {
        padding: 50px 0 0;
    }

    #section_seven > .container h3 {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        margin-bottom: 50px;
    }

    #section_seven > .container img {
        width: 100%;
    }
}

#section_eight {
    background-image: url('../../images/hi/restaurants/background_3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#section_eight h3 {
    color: #24383f;
    text-align: center;
    max-width: 700px;
    font-weight: 300;
    font-size: 40px;
    padding-top: 50px;
}

#section_eight p {
    color: #24383f;
    font-size: 45px;
    width: 450px;
    line-height: 1.1;
    font-weight: 300;
    position: absolute;
    bottom: 100px;
    text-align: center;
}

#section_eight p > span {
    display: block;
    font-size: 40px;
    line-height: 1.1;
    font-weight: bold;
}

#section_nine {
    display: inline-grid;
    min-height: auto;
}

#section_nine > .container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px 0;
}

#section_nine > .container > .content {
    padding-right: 100px;
    text-align: center;
}

#section_nine > .container > .content > img {
    width: 100%;
    max-width: 300px;
}

#section_nine > .container > .content > h4 {
    margin-top: 20px;
    font-weight: bold;
    color: #00a5ab;
    font-size: 21px;
}

#section_nine > .container > .content > p {
    max-width: 300px;
    margin: 10px auto 0;
    color: #00a5ab;
    font-weight: 500;
    line-height: 1.5;
    font-size: 21px;
}

#section_nine > .container > h3 {
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 68px;
    line-height: 1.3;
    font-weight: 200;
}

@media (max-width: 991px) {
    #section_nine.gradient_c_r {
        background: #FFF;
        background: -moz-linear-gradient(bottom,  #FFF 0%, #FFF 40%, #24383f 40%, #24383f 100%);
        background: -webkit-linear-gradient(bottom,  #FFF 0%,#FFF 40%,#24383f 40%,#24383f 100%);
        background: linear-gradient(to bottom,  #FFF 0%,#FFF 40%,#24383f 40%,#24383f 100%);
    }

    #section_nine > .container {
        grid-template-columns: 100%;
    }

    #section_nine > .container > .content {
        padding: 0;
    }

    #section_nine > .container > h3 {
        padding-top: 30px;
    }
}

#section_ten {
    display: inline-grid;
    min-height: auto;
}

#section_ten > .container {
    display: grid;
    grid-template-columns: 50% 50%;
}

#section_ten > .container > .content:first-of-type {
    padding: 100px 0px 100px;
    text-align: center;
}

#section_ten > .container > .content:first-of-type h3 {
    font-size: 40px;
    font-weight: 300;
    max-width: 350px;
    margin: 0 auto;
    text-transform: uppercase;
    color: #FFF;
}

#section_ten > .container > .content:first-of-type a.btn {
    margin: 30px auto 0;
    width: 300px;
    text-align: center;
    padding: 20px 20px;
    display: block;
    border-radius: 50px;
    background-color: #FFF;
    color: #24383f;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none !important;
    box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
}

#section_ten > .container .content:last-of-type {
    padding: 100px 0;
    text-align: center;
}

#section_ten > .container .content:last-of-type figure.logotype {
    margin: 0 auto 30px;
}

#section_ten > .container .content:last-of-type > a.social_media {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: 2px solid #24383f;
    border-radius: 50%;
    margin: 0 10px 0;
    color: #24383f;
    font-size: 0px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#section_ten > .container .content:last-of-type > a.social_media.fb_logo {
    background-image: url('../../images/hi/restaurants/fb_logo.svg');
}

#section_ten > .container .content:last-of-type > a.social_media.yt_logo {
    background-image: url('../../images/hi/restaurants/yt_logo.svg');
}

#section_ten > .container .content:last-of-type > a.social_media.ig_logo {
    background-image: url('../../images/hi/restaurants/ig_logo.svg');
}

#section_ten > .container .content:last-of-type > a.social_media.in_logo {
    background-image: url('../../images/hi/restaurants/in_logo.svg');
}

@media (max-width: 991px) {
    #section_ten.gradient_c_l {
        background: #FFF;
        background: -moz-linear-gradient(top,  #FFF 0%, #FFF 50%, #24383f 50%, #24383f 100%);
        background: -webkit-linear-gradient(top,  #FFF 0%,#FFF 50%,#24383f 50%,#24383f 100%);
        background: linear-gradient(to top,  #FFF 0%,#FFF 50%,#24383f 50%,#24383f 100%);
    }

    #section_ten > .container {
        display: grid;
        grid-template-columns: 100%;
    }

    #section_ten > .container > .content:first-of-type {
        padding: 0 0 50px;
    }

    #section_ten > .container > .content:first-of-type h3 {
        color: #FFF;
    }

    #section_ten > .container .content:last-of-type > a.social_media {
            margin: 0 10px 0;
    }

    #section_ten > .container .content > .logotype {
            padding-top: 50px;
    }
}
