@media (max-width: 1024px) {
    .dossier-mobile{
        display: none;
    }
}
@media (max-width: 768px) {
        .article_pwa{
    background: #E1E0E0;
    padding: 8px;
    border-radius: 15px; 
    }
    div.label > label[important] > select{
        background: #24383F;
        color: #ffffff;
        border-radius: 25px !important;
    }
    div.label > label > p {
        width: 100%;
        margin-bottom: 10px;
        padding: 0px 10px;
        font-size: 14px;
        line-height: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #757575;
        overflow: hidden;
    }
    div.tmp-1 > label > span > i {
        font-size: 28px;
        color: #ffffff;
        margin: 10px 0px 15px 0px;
    }
    .span-pwa{
        display: none;
    }
    .label-iconos{
        border-radius: 50%;
    }
    .radio-pwa{
        display: none;
    }
    .input{
        background: #24383F !important;
        color: #ffffff !important;
        border-radius: 25px !important;
    }
    div.tmp-1 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
        padding: 10px 0px 12px 0px;
        background: #E1E0E0;
        border-radius:-50% ;
    }
    .cierre-voxes{
        display: block;
        width: 32px !important;
        height: 32px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        border-radius: 50% !important;
        color: #FFF !important;
        background-color: #00A5AB !important;
        position: absolute;
        top: 100px;
        right: 25px;
    }
    div.tmp-1 > label {
        width: 100px;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
        cursor: pointer;
        background-color: #24383F;
    }
    .frm_vox{
        background: #ffffff;      
        border-radius: 10px 10px 10px 10px;
    }
    body > main {
        width: 100%;
        min-height: 100vh;
        padding: 70px 0px 0px 0px;
        box-sizing: border-box;
        background-color: #fff;
    }
    body > main > article > footer > a {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        padding: 0px 20px;
        box-sizing: border-box;
        background-color: #00A5AB;
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
        transition: 400ms;
        border-radius: 25px;
        color: #ffffff;
    }
    .row .span3 {
        width: 100%;
    }
}

@media (max-width: 524px) {
    .article_pwa{
    background: #E1E0E0;
    padding: 8px;
    border-radius: 33px; 
    }
    div.label > label[important] > select{
        background: #24383F;
        color: #ffffff;
        border-radius: 25px !important;
    }
    div.label > label > p {
        width: 100%;
        margin-bottom: 10px;
        padding: 0px 10px;
        font-size: 14px;
        line-height: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #757575;
        overflow: hidden;
    }
    div.tmp-1 > label > span > i {
        font-size: 28px;
        color: #ffffff;
        margin: 10px 0px 15px 0px;
    }
    .span-pwa{
        display: none;
    }
    .label-iconos{
        border-radius: 50%;
    }
    .radio-pwa{
        display: none;
    }
    .input{
        background: #24383F !important;
        color: #ffffff !important;
        border-radius: 25px !important;
    }
    div.tmp-1 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
        padding: 10px 0px 12px 0px;
        background: #E1E0E0;
        border-radius:-50% ;
    }
    .cierre-voxes{
        display: block;
        width: 32px !important;
        height: 32px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        border-radius: 50% !important;
        color: #FFF !important;
        background-color: #00A5AB !important;
        position: absolute;
        top: 101px;
        right: 25px;
    }
    div.tmp-1 > label {
        width: 100px;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
        cursor: pointer;
        background-color: #24383F;
    }
    .frm_vox{
        background: #ffffff;      
        border-radius: 10px 10px 30px 0px;
    }
    body > main {
        width: 100%;
        min-height: 100vh;
        padding: 70px 0px 0px 0px;
        box-sizing: border-box;
        background-color: #fff;
    }
    body > main > article > footer > a {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        padding: 0px 20px;
        box-sizing: border-box;
        background-color: #00A5AB;
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
        transition: 400ms;
        border-radius: 25px;
        color: #ffffff;
    }
}

/*Barra de navegacion*/
@media (max-width: 524px) {
    .p-pwa{
        color: #ffffff;
        font-size: 20px;
        margin-left: 6px;
    }
    .menu-pwa{
        background: #24383F;
    }
    .menu-pwa-search{
        background: #24383F;
        border-radius: 0px 0px 0px 20px;
    }
    .nav-hide{
        display: none !important;
    }
    header.main > section.topbar {
        width: 20%;
        height: 50px;
        float: right;
        padding: 0px 20px;
        box-sizing: border-box;
        border-radius: 0px 0px 20px 0px;
        background-color: #00a5ab;
    }
    header.main > section.topbar > nav > ul {
        width: 100%;
        height: 100%;
        display: contents !important;
        align-items: center;
        justify-content: flex-end;
    }
    header.main > section.topbar > nav > ul > li > a {
        padding-left: 0px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        transition: 400ms;
    }
    header.main > section.menu {
        width: 50%;
        height: 50px;
        float: left;
        position: relative;
        background-color: #00a5ab;
        border-radius: 0px 0px 0px 20px;
    }
    
    header.main > section.topbar > nav > ul > li, header.main > section.topbar > nav {
        width: 138%;
        height: 48px;
        margin: 0;
        padding: 0;
        border: 0;
    }
    header.main {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 99;
        background : #00a5ab;
    }
    .dossier-mobile{
        display: block;
    }
}
@media (max-width: 768px) {
    
    .p-pwa{
        color: #ffffff;
        font-size: 20px;
        margin-left: 6px;
    }
    .menu-pwa{
        background: #24383F;
    }
    .menu-pwa-search{
        background: #24383F;
        border-radius: 0px 0px 0px 20px;
    }
    .nav-hide{
        display: none !important;
    }
    header.main > section.topbar {
        width: 20%;
        height: 50px;
        float: right;
        padding: 0px 20px;
        box-sizing: border-box;
        border-radius: 0px 0px 20px 0px;
        background-color: #00a5ab;
    }
    header.main > section.topbar > nav > ul {
        width: 100%;
        height: 100%;
        display: contents !important;
        align-items: center;
        justify-content: flex-end;
    }
    header.main > section.topbar > nav > ul > li > a {
        padding-left: 0px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        transition: 400ms;
    }
    header.main > section.menu {
        width: 50%;
        height: 50px;
        float: left;
        position: relative;
        background-color: #00a5ab;
        border-radius: 0px 0px 0px 20px;
    }
    
    header.main > section.topbar > nav > ul > li, header.main > section.topbar > nav {
        width: 138%;
        height: 48px;
        margin: 0;
        padding: 0;
        border: 0;
    }
    header.main {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 99;
        background : #00a5ab;
        border-radius: 15px 15px 15px 15px;
    }
    .dossier-mobile{
        display: block;
    }
}
@media (max-width: 1024px) {
    .logotype-login{
        display: none !important;
    }
}
@media (max-width: 768px) {
    .logotype-login{
        display: block !important;
    }
}

@media (max-width: 524px) {
    .logotype-login{
        display: block !important;
    }
}