
/* Header
------------------------------------------------------------------------------ */
header.main {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
}

header.main::after {
    content: '';
    display: block;
    clear: both;
}

header.main > section.topbar {
    width: 50%;
    height: 50px;
    float: right;
    padding: 0px 20px;
    box-sizing: border-box;
    background-color: #00a5ab;
}

header.main > section.topbar > nav {
    width: 100%;
    height: 100%;
    float: right;
}

header.main > section.topbar > nav > ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header.main > section.topbar > nav > ul > li,
header.main > section.topbar > nav > ul > li > a {
    width: auto;
    height: 50px;
}

header.main > section.topbar > nav > ul > li > a {
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    transition: 400ms;
}

header.main > section.topbar > nav > ul > li > a > i {
    margin-right: 5px;
    font-size: 12px;
}

header.main > section.topbar > nav > ul > li > a.profile > i {
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 8px;
    color: #4caf50;
}

header.main > section.topbar > nav > ul > li:last-child > a > i {
    font-size: 18px;
}

header.main > section.topbar > nav > ul > li > a > span {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

header.main > section.topbar > nav > ul > li > a > span > img {
    width: 100%;
    height: auto;
}

header.main > section.menu {
    width: 50%;
    height: 50px;
    float: left;
    position: relative;
    background-color: #00a5ab;
}

header.main > section.menu::after {
    content: '';
    display: block;
    clear: both;
}

header.main > section.menu > figure {
    width: auto;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    box-sizing: border-box;
}

header.main > section.menu > figure > img {
    width: auto;
    height: 30px;
}

header.main > section.menu > nav.main-menu {
    width: auto;
    height: 100%;
    float: left;
}

header.main > section.menu > nav.main-menu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header.main > section.menu > nav.main-menu > ul > li,
header.main > section.menu > nav.main-menu > ul > li > a {
    width: auto;
    height: 100%;
}

header.main > section.menu > nav.main-menu > ul > li > a {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    transition: 400ms;
}

header.main > section.menu > nav.main-menu > ul > li.active > a,
header.main > section.menu > nav.main-menu > ul > li.active > a:hover {
    background-color: #fff !important;
    color: #00a5ab;
}

header.main > section.menu > nav.main-menu > ul > li > a > i {
    margin-right: 5px;
}

header.main > section.menu > nav.open-menu {
    width: 300px;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: -200%;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 2px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: 400ms;
}

header.main > section.menu > nav.open-menu.open {
    right: -100%;
    transition: 400ms;
}

header.main > section.menu > nav.open-menu > figure {
    width: auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

header.main > section.menu > nav.open-menu > figure > img {
    width: auto;
    max-width: 100%;
}

header.main > section.menu > nav.open-menu > h4 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    color: #757575;
}

header.main > section.menu > nav.open-menu > ul {
    width: 100%;
}

header.main > section.menu > nav.open-menu > ul > li,
header.main > section.menu > nav.open-menu > ul > li > a {
    width: 100%;
    height: 30px;
}

header.main > section.menu > nav.open-menu > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 600;
    color: #757575;
}

header.main > section.menu > nav.open-menu > ul > li > a > i {
    margin-left: 10px;
}

/* Main
------------------------------------------------------------------------------ */
body > main {
    width: 100%;
    min-height: 100vh;
    padding: 70px 20px 20px 20px;
    box-sizing: border-box;
    background-color: #fff;
}

/* Nav
------------------------------------------------------------------------------ */
body > main > nav {
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
}

body > main > nav::after {
    content: '';
    display: block;
    clear: both;
}

body > main > nav > h2 {
    width: auto;
    height: 50px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
    color: #757575;
}

body > main > nav > h2 > i {
    margin-right: 10px;
}

body > main > nav > ul {
    width: auto;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

body > main > nav > ul > li {
    width: auto;
}

body > main > nav > ul > li > a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    background-color: #eee;
    transition: 400ms;
}

body > main > nav > ul > li > a.view,
body > main > nav > ul > li > a.view:hover {
    color: #fff;
    background-color: #00a5ab;
}

body > main > nav > ul > li > a:hover {
    background-color: #bdbdbd;
    transition: 400ms;
}

/* Article
------------------------------------------------------------------------------ */
body > main > article {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

body > main > article > header {
    width: 100%;
    margin-bottom: 20px;
}

body > main > article > main > * {
    margin-bottom: 20px !important;
}

body > main > article > main > .clear,
body > main > article > main > *:last-child {
    margin-bottom: 0px !important;
}

body > main > article > footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

body > main > article > footer > a {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 0px 20px;
    box-sizing: border-box;
    background-color: #eee;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #757575;
    transition: 400ms;
}

body > main > article > footer > a:hover {
    background-color: #bdbdbd;
    transition: 400ms;
}

/* Tables
------------------------------------------------------------------------------ */
.table > aside {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.table > aside > label {
    width: 100%;
    height: 60px;
    position: relative;
}

.table > aside > label > span {
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    color: #757575;
}

.table > aside > label > input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px 20px 0px 100px;
    box-sizing: border-box;
    background-color: #eee;
}

.table > aside > a {
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background-color: #eee;
    font-size: 18px;
    font-weight: 600;
    color: #757575;
    text-decoration: none;
    transition: 400ms;
}

.table > aside > a:hover {
    background-color: #bdbdbd;
    transition: 400ms;
}

.table .dataTables_length,
.table .dataTables_filter {
    display: none;
}

.table .dataTables_wrapper .dataTables_paginate {
    padding-top: 20px !important;
}

.table .dataTables_wrapper .dataTables_paginate .paginate_button {
    background: #fff !important;
    border: none !important;
    width: 36px;
    height: 36px;
    overflow: hidden;
    padding: 0 !important;
    line-height: 36px;
    margin: 0 1px;
    font-size: 11px;
}

.table .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.table .dataTables_wrapper .dataTables_paginate .paginate_button.next {
    border-radius: 0px !important;
    background: #efefef !important;
    width: auto;
    padding: 0 20px !important;
    margin: 0 5px;
    font-size: 12px;
    color: #909090 !important;
}

.table .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #efefef !important;
}

.table .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #dedede !important;
    color: #6b6b6b !important;
}

.table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    opacity: 0.5;
    background: transparent !important;
}

.table .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    box-shadow: none !important;
    background: #d2d2d2 !important;
}

table {
    border-color: #fff !important;
}

table tr {
    position: relative;
}

table tr > th {
    padding: 20px 10px !important;
    border-bottom: 1px dashed #bdbdbd !important;
    white-space: nowrap;
    color: #757575;
}

table tr > td {
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px dashed #bdbdbd !important;
    max-width: 150px;
    padding: 0px 10px !important;
    box-sizing: border-box;
    line-height: 40px;
    font-weight: 400;
    font-size: 13px;
    box-sizing: border-box;
}

table tr > th:first-child,
table tr > td:first-child {
    padding-left: 5px !important;
    border-left: 5px solid transparent;
}

table tr > th:last-child,
table tr > td:last-child {
    padding-right: 5px !important;
}

table tbody > tr {
    background-color: #fff !important;
}

table tbody > tr:hover {
    background-color: #eee !important;
}

table tbody > tr:hover td > span {
    opacity: 0.8;
}

table tbody > tr > td > figure {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
    border-radius: 50%;
    line-height: 0px;
    overflow: hidden;
}

table tbody > tr > td > figure > img {
    width: 100%;
}

table tr > th.icon,
table tr > td.icon {
    width: 30px;
    padding: 0px !important;
}

table tr > td.icon > span,
table tr > td.icon > a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    color: #757575;
    margin: 0px 0px 0px 3px;
}

table tr > th.flag,
table tr > td.flag {
    width: 100px;
    padding: 0px !important;
}

table tr > td.flag > span,
table tr > td.flag > a {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    color: #757575;
    margin: 0px 0px 0px 3px;
}

table tbody > tr.no-readed td:first-child {
    border-left-color: #00a5ab;
}

table tbody > tr.close {
    opacity: 0.2;
}

table tbody > tr > td.touchable {
    cursor: pointer;
}

table tbody > tr > td > i {
    color: #757575;
}

@media (max-width: 1024px) {

    table thead th {
        font-size: 12px;
    }

    table tbody > tr > td {
        font-size: 12px;
    }
}

@media (max-width: 768px) {

    table thead {
        display: none !important;
    }

    table tbody,
    table tbody > tr,
    table tbody > tr > td {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
        text-align: center !important;
        padding: 0px !important;
        margin: 0px !important;
    }

    table tbody > tr {
        margin-bottom: 20px !important;
    }

    table tbody > tr:last-child {
        margin-bottom: 0px !important;
    }

    table tbody > tr > td {
        font-size: 13px;
    }
}

/* --- */

main.surveys-questions table tbody > tr[data-level="2"],
main.surveys-questions table tbody > tr[data-level="3"] {
    color: #757575 !important;
}

main.surveys-questions table tbody > tr[data-level="2"] > td:first-child {
    padding-left: 40px !important;
}

main.surveys-questions table tbody > tr[data-level="3"] > td:first-child {
    padding-left: 80px !important;
}

/* Counters
------------------------------------------------------------------------------ */
main.dashboard > article > main > div.counters,
main.voxes-stats > article > main > div.counters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.dashboard > article > main > div.counters > h2,
main.voxes-stats > article > main > div.counters > h2 {
    width: calc((100% / 6) - 10px);
    height: 160px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 5px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eee;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #757575;
}

main.dashboard > article > main > div.counters > h2:first-child,
main.voxes-stats > article > main > div.counters > h2:first-child {
    width: calc((100% / 6) - 5px);
    margin-left: 0px;
}

main.dashboard > article > main > div.counters > h2:last-child,
main.voxes-stats > article > main > div.counters > h2:last-child {
    width: calc((100% / 6) - 5px);
    margin-right: 0px;
}

main.dashboard > article > main > div.counters > h2 > span,
main.voxes-stats > article > main > div.counters > h2 > span {
    display: block;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

main.dashboard > article > main > div.counters > h2 > strong,
main.voxes-stats > article > main > div.counters > h2 > strong {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
    font-weight: 400;
}

@media (max-width: 768px) {

    main.dashboard > article > main > div.counters,
    main.voxes-stats > article > main > div.counters {
        flex-direction: column;
    }

    main.dashboard > article > main > div.counters > h2,
    main.voxes-stats > article > main > div.counters > h2 {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Vox details
------------------------------------------------------------------------------ */
div.vox-details {
    width: 100%;
}

div.vox-details::after {
    content: '';
    display: block;
    clear: both;
}

div.vox-details > div {
    width: calc(100% - 400px);
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}

div.vox-details > div > div {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

div.vox-details > div > div:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

div.vox-details > div > div.datas > h4 {
    width: auto;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #eee;
    margin-bottom: 10px;
    border-radius: 50px;
}

div.vox-details > div > div.attachments > figure {
    width: auto;
    height: 80px;
    position: relative;
    display: inline-block;
}

div.vox-details > div > div.attachments > figure > img {
    width: auto;
    height: 100%;
}

div.vox-details > div > div.attachments > figure > a {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
}

div.vox-details > div > div.attachments > embed {
    width: auto;
    max-width: 180px;
    height: 80px;
    display: inline-block;
}

div.vox-details > div > div.attachments > iframe {
    width: auto;
    max-width: 180px;
    height: 80px;
    display: inline-block;
}

div.vox-details > div > div.attachments > a {
    width: auto;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

div.vox-details > div > div.attachments > a > img {
    width: auto;
    height: 100%;
}

div.vox-details > div > div.comments > article {
    width: 100%;
    margin-bottom: 20px;
    border-left: 5px solid #00a5ab;
    padding-left: 20px;
    box-sizing: border-box;
}

div.vox-details > div > div.comments > article > header > p {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

div.vox-details > div > div.comments > article > header > p > i {
    margin-right: 5px;
}

div.vox-details > div > div.comments > article > header > p > span {
    color: #f44336;
    margin-right: 5px;
}

div.vox-details > div > div.comments > article > main {
    width: 100%;
    margin: 10px 0px;
}

div.vox-details > div > div.comments > article > main > figure {
    width: auto;
    height: 40px;
    position: relative;
    display: inline-block;
}

div.vox-details > div > div.comments > article > main > figure > img {
    width: auto;
    height: 100%;
}

div.vox-details > div > div.comments > article > main > figure > a {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
}

div.vox-details > div > div.comments > article > main > embed {
    width: auto;
    max-width: 100px;
    height: 40px;
    display: inline-block;
}

div.vox-details > div > div.comments > article > main > iframe {
    width: auto;
    max-width: 100px;
    height: 40px;
    display: inline-block;
}

div.vox-details > div > div.comments > article > main > a {
    width: auto;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

div.vox-details > div > div.comments > article > main > a > img {
    width: auto;
    height: 100%;
}

div.vox-details > div > div.comments > article > footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

div.vox-details > div > div.comments > article > footer > figure {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 50%;
    line-height: 0px;
    overflow: hidden;
}

div.vox-details > div > div.comments > article > footer > figure > img {
    width: 100%;
}

div.vox-details > div > div.comments > article > footer > span {
    width: auto;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

div.vox-details > div > div.comments > article > footer > a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
    background-color: #eee;
    transition: 400ms;
}

div.vox-details > div > div.comments > a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    background-color: #eee;
    transition: 400ms;
}

div.vox-details > div > div.comments > article > footer > a:hover,
div.vox-details > div > div.comments > a:hover {
    background-color: #bdbdbd;
    transition: 400ms;
}

div.vox-details > aside {
    width: 400px;
    float: right;
    padding-left: 40px;
    box-sizing: border-box;
    border-left: 1px dashed #bdbdbd;
}

div.vox-details > aside > div {
    width: 100%;
    margin-bottom: 40px;
}

div.vox-details > aside > div:last-child {
    margin-bottom: 0px;
}

div.vox-details > aside > div.assigned_users > h4,
div.vox-details > aside > div.viewed_by > h4 {
    font-size: 14px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 10px;
}

div.vox-details > aside > div.assigned_users > h4 > i,
div.vox-details > aside > div.viewed_by > h4 > i {
    margin-right: 5px;
}

div.vox-details > aside > div.assigned_users > div,
div.vox-details > aside > div.viewed_by > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

div.vox-details > aside > div.assigned_users > div > figure,
div.vox-details > aside > div.viewed_by > div > figure {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 50%;
    line-height: 0px;
    overflow: hidden;
}

div.vox-details > aside > div.assigned_users > div > figure > img,
div.vox-details > aside > div.viewed_by > div > figure > img {
    width: 100%;
}

div.vox-details > aside > div.assigned_users > div > span,
div.vox-details > aside > div.viewed_by > div > span {
    width: auto;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

div.vox-details > aside > div.datas > h4 {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 5px;
}

div.vox-details > aside > div.actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

div.vox-details > aside > div.actions > a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    background-color: #eee;
    transition: 400ms;
}

div.vox-details > aside > div.actions > a:hover {
    background-color: #bdbdbd;
    transition: 400ms;
}

/* Vox history
------------------------------------------------------------------------------ */
div.vox-history {
    width: 100%;
}

div.vox-history > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0px;
    box-sizing: border-box;
}

div.vox-history > div > figure {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 50%;
    line-height: 0px;
    overflow: hidden;
}

div.vox-history > div > figure > img {
    width: 100%;
}

div.vox-history > div > span,
div.vox-history > div > p {
    width: auto;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

div.vox-history > div > ul {
    padding-left: 40px;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

div.vox-history > div > p > img {
    width: auto;
    height: 15px;
    line-height: 0px;
    margin-right: 5px;
}

/* Reports
------------------------------------------------------------------------------ */
div.report {
    position: relative;
    width: 100%;
    min-height: 50px;
    border-radius: 2px;
    transition: all 200ms linear;
}

div.report.view {
    height: auto;
}

div.report > div.table {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

div.report > div.table > div.line {
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 20px;
}

div.report > div.table > div.head.line {
    padding: 15px 20px 10px;
}

div.report > div.table > div.line:nth-child(odd) {
    background-color: #FFF;
}

div.report > div.table > div.line:nth-child(even) {
    background-color: #F1F1F1;
}

div.report > div.table > div.line > p {
    margin: 0;
    width: 100%;
}

div.report > div.table > div.head.line > p {
    font-weight: bold;
    line-height: 1;
}

div.report > div.table > div.line > p:nth-child(1) {
    width: 10%;
}

div.report > div.table > div.line > p:nth-child(2) {
    width: 15%;
}

div.report > div.table > div.line > p:nth-child(3) {
    width: 15%;
}

div.report > div.table > div.line > p:nth-child(4) {
    width: 15%;
}

div.report > div.table > div.line > p:nth-child(5) {
    width: 20%;
}

div.report > div.table > div.line > p:nth-child(6) {
    width: 15%;
    text-align: center;
}

div.report > div.table > div.line > p:nth-child(7) {
    width: 10%;
    text-align: right;
}

@media print {

    body > main {
        padding: 0px;
    }

    header.main,
    section.box-container > div.main > article[step="filter"] {
        display: none;
    }

    section.box-container > div.main > article {
        margin-right: 0px;
        width: 100%;
        box-shadow: none;
    }

    section.box-container > div.main > article > main {
        padding: 0px;
    }
}

div.detail {
    width: 100%;
    border: 1px solid #E6E6E6;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

div.detail > p {
    width: auto;
    padding: 0px;
    margin: 0px 5px 0px 0px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

div.detail > p > img {
    width: auto;
    height: 15px;
    line-height: 0px;
    margin-right: 5px;
}

@media (max-width: 1024px) {

    main.reports form[name="filter"] > div {
        width: calc(100% / 3) !important;
    }
}

@media (max-width: 768px) {

    main.reports form[name="filter"] > div {
        width: calc(100% / 2) !important;
    }
}

@media (max-width: 524px) {

    main.reports form[name="filter"] > div {
        width: 100% !important;
    }
}

/* Survey
------------------------------------------------------------------------------ */
section[data-modal="view_survey_answer"] > .content > main > div {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eee;
}

section[data-modal="view_survey_answer"] > .content > main > div:last-child {
    margin-bottom: 20px;
}

section[data-modal="view_survey_answer"] > .content > main > span,
section[data-modal="view_survey_answer"] > .content > main > div > span {
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

section[data-modal="view_survey_answer"] > .content > main > div > span > strong {
    font-weight: 600;
    color: #000;
}

section[data-modal="view_survey_answer"] > .content > main > div > h2 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

section[data-modal="view_survey_answer"] > .content > main > article,
section[data-modal="get_preview_survey"] > .content > main > article {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eee;
}

section[data-modal="get_preview_survey"] > .content > main > article:first-child {
    margin-top: 0px;
}

section[data-modal="view_survey_answer"] > .content > main > article > h6,
section[data-modal="view_survey_answer"] > .content > main > article > article.subquestions-sub >  h6,
section[data-modal="get_preview_survey"] > .content > main > article > h6,
section[data-modal="get_preview_survey"] > .content > main > article > article.subquestions-sub >  h6 {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

section[data-modal="view_survey_answer"] > .content > main > article > div > label,
section[data-modal="view_survey_answer"] > .content > main > article > article.subquestions-sub > div > label,
section[data-modal="get_preview_survey"] > .content > main > article > div > label,
section[data-modal="get_preview_survey"] > .content > main > article > article.subquestions-sub > div > label {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    color: #757575;
}

section[data-modal="view_survey_answer"] > .content > main > article > div > input,
section[data-modal="get_preview_survey"] > .content > main > article > div > input {
    width: 100%;
    padding: 5px 10px;
    box-sizing:border-box;
    border: none;
}

section[data-modal="view_survey_answer"] > .content > main > article.subquestions,
section[data-modal="get_preview_survey"] > .content > main > article.subquestions {
    padding: 20px 30px;
    box-sizing: border-box;
}

section[data-modal="view_survey_answer"] > .content > main > article.subquestions > article.subquestions-sub,
section[data-modal="get_preview_survey"] > .content > main > article.subquestions > article.subquestions-sub {
    padding: 10px 15px;
    box-sizing: border-box;
}

section[data-modal="view_survey_answer"] > .content > main > article.subquestions > div,
section[data-modal="get_preview_survey"] > .content > main > article.subquestions > div {
    margin-bottom: 5px;
}

/* Account
------------------------------------------------------------------- */
div.account {
    width: 100%;
}

div.account::after {
    content: '';
    display: block;
    clear: both;
}

div.account > div {
    width: calc((100% / 3) - 20px);
    height: 300px;
    float: left;
    position: relative;
    margin: 10px;
    padding: 20px;
    border: 1px dashed #bdbdbd;
    box-sizing: border-box;
}

div.account > div > figure.qr,
div.account > div > figure.logotype {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
    overflow: hidden;
}

div.account > div > figure.qr {
    width: 100%;
}

div.account > div > figure.logotype {
    width: auto;
    max-width: 100%;
}

div.account > div > figure.qr > img {
    width: auto;
    height: 100%;
}

div.account > div > figure.logotype > img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

div.account > div > figure.logotype > input {
    display: none;
}

div.account > div > h2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 400;
    color: #757575;
}

div.account > div > h2 > i {
    margin-bottom: 20px;
    font-size: 100px;
}

div.account > div > h2 > span {
    font-size: 14px;
    text-align: center;
}

div.account > div > h2 > span > strong {
    font-size: 24px;
}

div.account > div > h2 > figure,
div.account > div > h2 > figure > img {
    width: auto;
    height: 120px;
    margin-bottom: 20px;
    line-height: 0px;
}

div.account > div > h4 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

div.account > div > h6 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

div.account > div > h6 > i {
    margin-right: 10px;
}

div.account > div > a {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #757575;
    background-color: #eee;
    transition: 400ms;
}

div.account > div > a:hover {
    background-color: #bdbdbd;
    transition: 400ms;
}

@media (max-width: 768px) {

    div.account > div {
        width: 100%;
        margin: 0px 0px 10px 0px;
    }
}

/* Perfil
------------------------------------------------------------------- */
div.profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    box-sizing: border-box;
}

div.profile > figure {
    width: 250px;
    height: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 0px;
    overflow: hidden;
}

div.profile > figure > img {
    width: 100%;
}

div.profile > figure > a {
    position: absolute;
    top: 80px;
    right: 80px;
    bottom: 80px;
    left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    color: #757575;
    background-color: #fff;
    opacity: 0;
    transition: 400ms;
}

div.profile > figure:hover > a {
    opacity: 1;
    transition: 400ms;
}

div.profile > figure > input {
    display: none;
}

div.profile > div {
    width: auto;
    padding: 40px;
    box-sizing: border-box;
}

div.profile > div > h6 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

div.profile > div > h6 > i {
    margin-right: 5px;
}

div.profile > div > a {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #757575;
    background-color: #eee;
    transition: 400ms;
}

div.profile > div > a:hover {
    background-color: #bdbdbd;
    transition: 400ms;
}

/* Charts
------------------------------------------------------------------------------ */
div.charts {
    min-height: 400px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
}

div.charts.little {
    width: calc(100% / 4);
}

div.charts.small {
    width: calc(100% / 3);
}

div.charts.medium {
    width: calc(100% / 2);
}

div.charts.big {
    width: 100%;
}

/* --- */

div.charts > canvas {
    width: 100%;
    display: block;
}

div.charts > h6 {
    font-size: 14px;
    font-weight: 600;
    color: #757575;
    margin-top: 20px;
}

/* --- */

main.surveys-stats > article > main > form.date-filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

main.surveys-stats > article > main > form.date-filter > input {
    width: auto;
    height: 60px;
    margin-left: 5px;
    padding: 0px 20px;
    border: 1px solid #eee;
    box-sizing: border-box;
    background-color: #eee;
}

/* --- */

main.surveys-stats > article > main > div.chart-rate {
    width: 300px;
    min-height: 340px;
    float: left;
}

main.surveys-stats > article > main > div.chart-rate > h2 {
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #757575;
}

main.surveys-stats > article > main > div.chart-rate > div.average {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.surveys-stats > article > main > div.chart-rate > div.average > h4 {
    font-size: 80px;
    font-weight: 600;
    line-height: 80px;
    color: #757575;
}

main.surveys-stats > article > main > div.chart-rate > div.average > span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    box-sizing: border-box;
}

main.surveys-stats > article > main > div.chart-rate > div.average > span > i {
    margin: 0px 5px;
    font-size: 24px;
    color: #757575;
}

main.surveys-stats > article > main > div.chart-rate > div.progress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    box-sizing: border-box;
}

main.surveys-stats > article > main > div.chart-rate > div.progress:last-child {
    padding-bottom: 0px;
}

main.surveys-stats > article > main > div.chart-rate > div.progress > span {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

main.surveys-stats > article > main > div.chart-rate > div.progress > span:first-child {
    width: 40px;
    justify-content: flex-start;
}

main.surveys-stats > article > main > div.chart-rate > div.progress > span:first-child > i {
    margin-left: 5px;
    font-size: 14px;
    color: #ffeb3b;
}

main.surveys-stats > article > main > div.chart-rate > div.progress > span:last-child {
    width: 80px;
    justify-content: flex-end;
}

main.surveys-stats > article > main > div.chart-rate > div.progress > span > i {
    margin-right: 5px;
    font-size: 14px;
    color: #ffeb3b;
}

main.surveys-stats > article > main > div.chart-rate > div.progress > progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 20px;
}

main.surveys-stats > article > main > div.chart-rate > div.progress > progress::-webkit-progress-bar {
    border-radius: 20px;
    background-color: #eee;
}

main.surveys-stats > article > main > div.chart-rate > div.progress > progress::-webkit-progress-value {
    border-radius: 20px;
    background-color: #00a5ab;
}

main.surveys-stats > article > main > div.chart-rate > div.progress > progress::-moz-progress-bar {
    background-color: #eee;
}

main.surveys-stats > article > main > div.chart-rate > div.progress > progress::-moz-progress-value {
    background-color: #00a5ab;
}

/* --- */


main.surveys-stats > article > main > div.chart-answered {
    width: calc(100% - 300px);
    min-height: 340px;
    float: right;
}

main.surveys-stats > article > main > div.chart-answered::after {
    content: '';
    display: block;
    clear: both;
}

main.surveys-stats > article > main > div.chart-answered > h2 {
    width: 100%;
    margin-bottom: 5px;
    margin-left: 22.5px;
    font-size: 18px;
    font-weight: 600;
    color: #757575;
}

main.surveys-stats > article > main > div.chart-answered > div.counters {
    width: calc(100% - 300px);
    float: left;
    padding: 0px 20px;
    box-sizing: border-box;
}

main.surveys-stats > article > main > div.chart-answered > div.counters > span {
    width: calc((100% / 3) - 5px);
    height: 150px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2.5px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eee;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    color: #757575;
}

main.surveys-stats > article > main > div.chart-answered > div.counters > span > strong {
    display: block;
    font-size: 18px;
    text-align: center;
}

main.surveys-stats > article > main > div.chart-answered > div.chart {
    width: 300px;
    float: right;
}

/* Inputs
------------------------------------------------------------------------------ */
div.label {
    width: 100%;
    margin-bottom: 20px;
}

div.label:last-child {
    margin-bottom: 0;
}

div.label > label {
    width: 100%;
}

div.label > label > p {
    width: 100%;
    margin-bottom: 10px;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #757575;
    overflow: hidden;
}

div.label > label > p.description,
div.label > label > p.error {
    font-size: 12px;
    margin-top: 10px;
}

div.label > label.error > p {
    color: #f44336 !important;
}

div.label > label > input,
div.label > label > select,
div.label > label > textarea {
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    border: 1px solid #eee;
    box-sizing: border-box;
    background-color: #eee;
    /* -webkit-appearance: none; */
}

div.label > label > textarea {
    padding: 20px;
    height: 150px;
    /* resize: none; */
}

div.label > label[important] > input,
div.label > label[important] > select,
div.label > label[important] > textarea {
    border-color: #ff9800 !important;
}

div.label > label.success > input,
div.label > label.success > select,
div.label > label.success > textarea {
    border-color: #009688 !important;
}

div.label > label.error > input,
div.label > label.error > select,
div.label > label.error > textarea {
    border-color: #f44336 !important;
}

div.label > label > a {
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
    background-color: #eee;
    transition: 400ms;
}

div.label > label > a:hover {
    background-color: #bdbdbd;
    transition: 400ms;
}

/* Checkbox
------------------------------------------------------------------------------ */
div.checkboxes > div {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eee;
    margin-top: 5px;
}

div.checkboxes > div > h4 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #757575;
}

div.checkboxes > div > h4 > i {
    margin-right: 5px;
}

div.checkboxes > div > div {
    width: 100%;
}

div.checkboxes > div > div::after {
    content: '';
    display: block;
    clear: both;
}

div.checkboxes > div > div > p {
    width: 100%;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
    clear: both;
}

div.checkboxes > div > div > div {
    width: auto;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

div.checkboxes > div > div > div > span {
    padding: 0px 10px 0px 5px;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

div.checkboxes > div > div > div > input[type="checkbox"],
div.checkboxes > div > div > div > input[type="radio"] {
    width: 20px;
    height: 20px;
    position: relative;
    margin: 0px;
    padding: 0px;
    border: 0px;
    -webkit-appearance: none;
}

div.checkboxes > div > div > div > input[type="checkbox"]::before {
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    background-color: #e0e0e0;
    z-index: 1;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.2s ease all;
       -moz-transition: 0.2s ease all;
        -ms-transition: 0.2s ease all;
         -o-transition: 0.2s ease all;
            transition: 0.2s ease all;
}

div.checkboxes > div > div > div > input[type="checkbox"]:checked::before {
    height: 10px;
    top: 0px;
    left: 2px;
    background: none;
    border: 3px solid #fff;
    border-top-style: none;
    border-right-style: none;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

div.checkboxes > div > div > div > input[type="checkbox"]::after {
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    position: absolute;
    display: block;
    content: '';
    background-color: #00a5ab;
    z-index: 0;
}

div.checkboxes > div > div > div > input[type="radio"]::before {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    content: '';
    background-color: #e0e0e0;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: 0.2s ease all;
       -moz-transition: 0.2s ease all;
        -ms-transition: 0.2s ease all;
         -o-transition: 0.2s ease all;
            transition: 0.2s ease all;
}

div.checkboxes > div > div > div > input[type="radio"]:checked::before {
    background-color: #00a5ab;
}

div.checkboxes > div > div > div > input[type="radio"]::after {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    content: '';
    background-color: transparent;
    border: none;
    z-index: 0;
}

div.checkboxes > div > div > div > input[type="checkbox"]:focus,
div.checkboxes > div > div > div > input[type="radio"]:focus {
    border: none;
    box-shadow: none;
}

/* Switch
------------------------------------------------------------------------------ */
div.switch {
    position: relative !important;
    width: 100% !important;
    max-width: 180px !important;
    margin: 0px auto !important;
    -webkit-user-select:none !important;
    -moz-user-select:none !important;
    -ms-user-select: none !important;
}

div.switch > label {
    position: initial !important;
}

div.switch > label {
    display: block !important;
    overflow: hidden !important;
    cursor: pointer !important;
    height: 40px !important;
    padding: 0 !important;
    line-height: 40px !important;
    border: 0px solid #fff !important;
    border-radius: 60px !important;
    background-color: #eee !important;
}

div.switch > label:before {
    content: "" !important;
    display: block !important;
    width: 60px !important;
    margin: -10px !important;
    background: #e0e0e0 !important;
    box-sizing: border-box;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: calc(100% - 60px) !important;
    border-radius: 60px !important;
    transition: 400ms;
}

div.switch > input {
    display: none !important;
}

.switch-input:checked + .switch-label {
    background-color: #00a5ab !important;
    transition: 400ms;
}

.switch-input:checked + .switch-label, .switch-input:checked + .switch-label:before {
    background-color: #00a5ab !important;
    transition: 400ms;
}

.switch-input:checked + .switch-label .switch-inner {
    margin-left: 0 !important;
    transition: 400ms;
}

.switch-input:checked + .switch-label:before {
    right: 20px !important;
    background-color: #fff !important;
    border: 1px dashed #00a5ab;
    box-sizing: border-box;
    transition: 400ms;
}

/* Modals
------------------------------------------------------------------- */
section.modal > div.content > header {
    background-color: #fff;
}

section.modal > div.content > header > h3 {
    color: #757575;
}

section.modal.new > div.content > header {
    background-color: #00a5ab;
}

section.modal.edit > div.content > header {
    background-color: #ff9800;
}

section.modal.delete > div.content > header {
    background-color: #f44336;
}

section.modal.new > div.content > header > h3,
section.modal.edit > div.content > header > h3,
section.modal.delete > div.content > header > h3 {
    color: #fff;
}

section.modal[data-modal="success"] main,
section.modal[data-modal="error"] main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.modal[data-modal="success"] main {
    background-color: #00a5ab;
}

section.modal[data-modal="error"] main {
    background-color: #f44336;
}

section.modal[data-modal="success"] main > figure,
section.modal[data-modal="error"] main > figure {
    height: 200px;
    margin-bottom: 40px;
}

section.modal[data-modal="success"] main > figure > img,
section.modal[data-modal="error"] main > figure > img {
    height: 100%;
}

section.modal[data-modal="success"] main > p,
section.modal[data-modal="error"] main > p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

section.modal[data-modal="error"] main > p {
    margin-bottom: 40px;
}

section.modal[data-modal="error"] main > a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

section.modal main > div.maximum-exceeded {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
}

section.modal main > div.maximum-exceeded > i {
    margin-bottom: 40px;
    font-size: 100px;
    font-weight: 400;
    color: #757575;
}

section.modal main > div.maximum-exceeded > p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

/* Ajax loader
------------------------------------------------------------------------------ */
.loading::after {
    content: "";
    background-image: url('../images/load.gif');
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left:  0;
    right:  0;
    bottom:  0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.7);
}

[data-ajax-loader] {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

[data-ajax-loader] > div.loader {
    width: 2em;
    height: 2em;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    pointer-events: none;
    border: 1em solid transparent;
    border-top-color: currentcolor;
    border-radius: 50%;
    color: #e0e0e0;
    -webkit-animation: 1s loader linear infinite;
            animation: 1s loader linear infinite;
}

[data-ajax-loader] > div.loader:before {
    width: inherit;
    height: inherit;
    top: -1em;
    left: -1em;
    position: absolute;
    display: block;
    content: '';
    border: 1em solid currentcolor;
    border-radius: 50%;
    opacity: .5;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/* Generals
------------------------------------------------------------------------------ */
a {
    cursor: pointer;
    text-decoration: none;
}

a.new {
    background-color: #00a5ab !important;
    color: #fff !important;
    transition: 400ms;
}

a.new:hover {
    background-color: #009688 !important;
    transition: 400ms;
}

a.edit {
    background-color: #ffc107 !important;
    color: #fff !important;
    transition: 400ms;
}

a.edit:hover {
    background-color: #ffa000 !important;
    transition: 400ms;
}

a.delete {
    background-color: #f44336 !important;
    color: #fff !important;
    transition: 400ms;
}

a.delete:hover {
    background-color: #d32f2f !important;
    transition: 400ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

form [class*="span"] {
    margin-bottom: 0px !important;
    padding: 10px 5px 10px;
}

/* Temporal
------------------------------------------------------------------------------ */
div.tmp-1  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

div.tmp-1 > label {
    width: 100px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 5px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #eee;
}

div.tmp-1 > label:first-child {
    margin-left: 0px;
}

div.tmp-1 > label:last-child {
    margin-right: 0px;
}

div.tmp-1 > label > span {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

div.tmp-1 > label > span > i {
    font-size: 28px;
    color: #757575;
    margin: 10px 0px 15px 0px;
}

div.tmp-1 > label > input {
    margin: 0px;
}

/* Checkers
------------------------------------------------------------------------------ */
div.checkers > div.list > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px 5px 5px;
    box-sizing: border-box;
}

div.checkers > div.list > div > span {
    width: calc(100% - 140px);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 10px;
    box-sizing: border-box;
    background-color: #eee;
    color: #757575;
}

div.checkers > div.list > div > a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    background-color: #eee;
    color: #757575;
}

div.checkers div.label > a {
    width: 30px;
    height: 30px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

div.checkers [class*="span"] {
    padding-bottom: 5px !important;
}
