
/* Header
------------------------------------------------------------------------------ */
header.main {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
}

header.main > section.topbar {
    width: 100%;
    height: 80px;
    padding: 0px 40px;
    box-sizing: border-box;
    background-color: #e0e0e0;
}

header.main > section.topbar::after {
    content: '';
    display: block;
    clear: both;
}

header.main > section.topbar > figure {
    width: auto;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.main > section.topbar > figure > img {
    width: auto;
    height: 40px;
}

header.main > section.topbar > nav {
    width: auto;
    height: 100%;
    float: right;
}

header.main > section.topbar > nav > ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.main > section.topbar > nav > ul > li,
header.main > section.topbar > nav > ul > li > a {
    width: auto;
    height: 40px;
}

header.main > section.topbar > nav > ul > li > a {
    margin-left: 5px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    color: #757575;
    transition: 400ms;
}

header.main > section.topbar > nav > ul > li > a:hover {
    background-color: #bdbdbd;
    transition: 400ms;
}

header.main > section.topbar > nav > ul > li:first-child > a > i {
    margin-right: 5px;
    color: #4caf50;
}

header.main > section.topbar > nav > ul > li:last-child > a > i {
    font-size: 18px;
}

header.main > section.menu {
    width: 100%;
    height: 50px;
    position: relative;
    padding: 0px 20px;
    box-sizing: border-box;
    background-color: #e0e0e0;
}

header.main > section.menu > nav:first-child {
    width: 100%;
    height: 100%;
}

header.main > section.menu > nav:first-child > ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header.main > section.menu > nav:first-child > ul > li,
header.main > section.menu > nav:first-child > ul > li > a {
    width: auto;
    height: 100%;
}

header.main > section.menu > nav:first-child > ul > li > a {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    color: #757575;
    transition: 400ms;
}

header.main > section.menu > nav:first-child > ul > li > a:hover {
    background-color: #bdbdbd !important;
    transition: 400ms;
}

header.main > section.menu > nav:first-child > ul > li.active > a,
header.main > section.menu > nav:first-child > ul > li.active > a:hover {
    background-color: #fff !important;
}

header.main > section.menu > nav:first-child > ul > li > a > i {
    margin-right: 5px;
}

header.main > section.menu > nav:first-child > ul > li:last-child > a > i {
    margin-right: 0px;
    font-size: 18px;
}

header.main > section.menu > nav:last-child {
    width: 300px;
    height: 100vh;
    position: absolute;
    top: -80px;
    right: -300px;
    bottom: 0px;
    background-color: #00a5ab;
    padding: 40px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: 400ms;
}

header.main > section.menu > nav:last-child.open {
    right: 0px;
    transition: 400ms;
}

header.main > section.menu > nav:last-child > figure {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

header.main > section.menu > nav:last-child > figure > img {
    width: auto;
    height: 130px;
    border-radius: 50%;
}

header.main > section.menu > nav:last-child > h4 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

header.main > section.menu > nav:last-child > ul {
    width: 100%;
}

header.main > section.menu > nav:last-child > ul > li,
header.main > section.menu > nav:last-child > ul > li > a {
    width: 100%;
    height: 30px;
}

header.main > section.menu > nav:last-child > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}

header.main > section.menu > nav:last-child > ul > li > a > i {
    margin-left: 10px;
}

/* Main
------------------------------------------------------------------------------ */
body > main {
    width: 100%;
    min-height: 100vh;
    padding: 150px 20px 20px 20px;
    box-sizing: border-box;
    background-color: #fff;
}

/* Article
------------------------------------------------------------------------------ */
body > main > article {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 20px;
}

body > main > article > header {
    width: 100%;
    margin-bottom: 20px;
}

body > main > article > header > h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
    color: #757575;
}

body > main > article > header > h2 > i {
    margin-right: 10px;
}

body > main > article > footer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

body > main > article > footer > a {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 0px 20px;
    box-sizing: border-box;
    background-color: #eee;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #757575;
    transition: 400ms;
}

body > main > article > footer > a:hover {
    background-color: #bdbdbd;
    transition: 400ms;
}

/* Tables
------------------------------------------------------------------------------ */
.table > aside {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.table > aside > label {
    width: 100%;
    height: 60px;
    position: relative;
}

.table > aside > label > span {
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    color: #757575;
}

.table > aside > label > input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px 20px 0px 100px;
    box-sizing: border-box;
    background-color: #eee;
}

.table > aside > a {
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background-color: #eee;
    font-size: 18px;
    font-weight: 600;
    color: #757575;
    text-decoration: none;
    transition: 400ms;
}

.table > aside > a:hover {
    background-color: #bdbdbd;
    transition: 400ms;
}

.table .dataTables_length,
.table .dataTables_filter {
    display: none;
}

.table .dataTables_wrapper .dataTables_paginate {
    padding-top: 20px !important;
}

.table .dataTables_wrapper .dataTables_paginate .paginate_button {
    background: #fff !important;
    border: none !important;
    width: 36px;
    height: 36px;
    overflow: hidden;
    padding: 0 !important;
    line-height: 36px;
    margin: 0 1px;
    font-size: 11px;
}

.table .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.table .dataTables_wrapper .dataTables_paginate .paginate_button.next {
    border-radius: 0px !important;
    background: #efefef !important;
    width: auto;
    padding: 0 20px !important;
    margin: 0 5px;
    font-size: 12px;
    color: #909090 !important;
}

.table .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #efefef !important;
}

.table .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #dedede !important;
    color: #6b6b6b !important;
}

.table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    opacity: 0.5;
    background: transparent !important;
}

.table .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    box-shadow: none !important;
    background: #d2d2d2 !important;
}

table {
    border-color: #fff !important;
}

table tr {
    position: relative;
}

table tr > th {
    padding: 20px 10px !important;
    border-bottom: 1px dashed #bdbdbd !important;
    white-space: nowrap;
    color: #757575;
}

table tr > td {
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px dashed #bdbdbd !important;
    max-width: 150px;
    padding: 0px 10px !important;
    box-sizing: border-box;
    line-height: 40px;
    font-weight: 400;
    font-size: 13px;
    box-sizing: border-box;
}

table tr > th:first-child,
table tr > td:first-child {
    padding-left: 5px !important;
    border-left: 5px solid transparent;
}

table tr > th:last-child,
table tr > td:last-child {
    padding-right: 5px !important;
}

table tbody > tr {
    background-color: #fff !important;
}

table tbody > tr:hover {
    background-color: #eee !important;
}

table tbody > tr:hover td > span {
    opacity: 0.8;
}

table tbody > tr > td > figure {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
    border-radius: 50%;
    line-height: 0px;
    overflow: hidden;
}

table tbody > tr > td > figure > img {
    width: 100%;
}

table tr > th.icon,
table tr > td.icon {
    width: 30px;
    padding: 0px !important;
}

table tr > td.icon > span,
table tr > td.icon > a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    color: #757575;
    margin: 0px 0px 0px 3px;
}

table tr > th.flag,
table tr > td.flag {
    width: 100px;
    padding: 0px !important;
}

table tr > td.flag > span,
table tr > td.flag > a {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    color: #757575;
    margin: 0px 0px 0px 3px;
}

table tbody > tr.no-readed {
    background-color: #fff !important;
}

table tbody > tr.no-readed:hover {
    background-color: #fff !important;
}

table tbody > tr.close {
    opacity: 0.3;
}

table tbody > tr.follow td:first-child {
    border-left-color: #00a5ab;
}

table tbody > tr > td.sub:first-child,
table tbody > tr > td.sub {
    padding-left: 40px !important;
}

table tbody > tr > td.touchable {
    cursor: pointer;
}

table tbody > tr > td > i {
    color: #757575;
}

@media (max-width: 1024px) {

    table thead th {
        font-size: 12px;
    }

    table tbody > tr > td {
        font-size: 12px;
    }
}

@media (max-width: 768px) {

    table thead {
        display: none !important;
    }

    table tbody,
    table tbody > tr,
    table tbody > tr > td {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
        text-align: center !important;
        padding: 0px !important;
        margin: 0px !important;
    }

    table tbody > tr {
        margin-bottom: 20px !important;
    }

    table tbody > tr:last-child {
        margin-bottom: 0px !important;
    }

    table tbody > tr > td {
        font-size: 13px;
    }
}

/* Voxes counts home
------------------------------------------------------------------------------ */
.voxes-counts-home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.voxes-counts-home > h2 {
    width: calc((100% / 6) - 8px);
    height: 160px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 5px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eee;
    font-size: 40px;
    font-weight: 600;
    color: #757575;
}

.voxes-counts-home > h2:first-child {
    margin-left: 0px;
}

.voxes-counts-home > h2:last-child {
    margin-right: 0px;
}

.voxes-counts-home > h2 > span {
    display: block;
    font-size: 15px;
    text-transform: uppercase;
}

.voxes-counts-home > h2 > strong {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
    font-weight: 400;
}

@media (max-width: 768px) {

    .voxes-counts-home {
        flex-direction: column;
    }

    .voxes-counts-home > h2 {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Voxes
------------------------------------------------------------------------------ */
/* div.viewer_data {
    position: relative;
    display: block;
    padding: 20px;
    box-sizing: border-box;
}

div.viewer_data > div {
    position: relative;
    display: -webkit-box;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

div.viewer_data > div:last-child {
    margin-bottom: 0px;
}

div.viewer_data > div > h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    width: 200px;
    text-align: right;
    color: #797979;
    padding: 15px 0;
}

div.viewer_data > div > div {
    margin: 0;
    font-size: 15px;
    line-height: 19px;
    width: calc(100% - 200px);
    margin-left: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333333;
    min-height: 50px;
    box-sizing: border-box;
}

ul.info > li {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none !important;
    list-style: none;
    color: #757575;
}

@media (min-width: 768px) and (max-width: 991px) {

    div.viewer_data > div > h3 {
        width: 150px;
    }

    div.viewer_data > div > div {
        width: calc(100% - 160px);
    }
}

@media (max-width: 768px) {

    div.viewer_data > div > h3 {
        width: 100px;
    }

    div.viewer_data > div > div {
        width: calc(100% - 110px);
    }
}

.timeline .follow {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.timeline .follow:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.timeline .follow::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -15px;
    width: calc(100% + 30px);
    height: 1px;
    background-color: #e5e5e5;
}

.timeline .follow:last-child::after {
    display: none;
}

.timeline .follow > .text {
    position: relative;
    font-size: 15px;
    line-height: 22px;
}

.timeline .follow > .text span.response-to {
    color: #00a5ab;
    text-decoration: underline;
    margin-right: 5px;
}

.timeline .follow > .user {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: flex;
    align-items: baseline;
    padding: 5px 0 0;
}

.timeline .follow > .user > h1 {
    margin: 0;
    font-size: 15px;
    line-height: 15px;
    color: #9e9e9e;
    font-weight: 500;
}

.timeline .follow > .user > h2 {
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    color: #bfbfbf;
    font-weight: 500;
    margin-left: 10px;
}

.timeline .follow > .user > a {
    display: block;
    margin-left: 10px;
    line-height: 12px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    color: #00a5ab;
}

@media (max-width: 768px) {

    .timeline .follow > .user {
        flex-direction: column;
    }

    .timeline .follow > .user > h1 {
        padding: 30px 0 5px;
    }

    .timeline .follow > .user > h2,
    .timeline .follow > .user > a {
        margin-left: 0px;
        padding: 5px 0;
    }
}

figure.attachment {
    width: auto;
    height: 100px;
    float: left;
    position: relative;
    margin-right: 5px;
}

figure.attachment > img {
    width: auto;
    height: 100%;
}

figure.attachment > a {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
}

embed.attachment {
    width: auto;
    max-width: 200px;
    height: 100px;
    float: left;
    margin-right: 5px;
}

iframe.attachment {
    width: auto;
    max-width: 200px;
    height: 100px;
    float: left;
    margin-right: 5px;
}

a.attachment {
    width: auto;
    height: 100px;
    float: left;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.attachment > img {
    width: auto;
    height: 100%;
}

div.attachments-follow {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.attachments-follow > figure.attachment,
div.attachments-follow > embed.attachment,
div.attachments-follow > iframe.attachment,
div.attachments-follow > a.attachment {
    height: 50px;
}

div.attachments-follow > embed.attachment,
div.attachments-follow > iframe.attachment {
    max-width: 100px;
} */

/* Counts
------------------------------------------------------------------------------ */
/* .counts,
.counts-home {
    position: relative;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.counts-home {
    flex-direction: row;
}

.counts h2,
.counts-home h2 {
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    display: block;
    vertical-align: top;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #00a5ab;
}

.counts h2 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.counts h2.average {
    background-color: #3f51b5;
}

.counts-home h2 {
    width: calc(100% / 6);
    display: inline-block;
    color: #757575;
    margin-bottom: 0px;
    background: none;
    min-height: 160px;
    position: relative;
}

.counts h2 span,
.counts-home h2 span {
    display: block;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    text-transform: uppercase;
}

.counts h2 span > strong {
    display: block;
    font-size: 14px;
    font-weight: 200;
    text-transform: none;
    margin-top: 5px;
    color: #fff;
}

.counts-home h2 span > strong {
    display: block;
    font-size: 12px;
    font-weight: 200;
    text-transform: none;
}

.counts-home h2 > a {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    cursor: pointer;
}

@media (max-width: 768px) {

    .counts,
    .counts-home {
        display: block;
        clear: both;
    }

    .counts::after,
    .counts-home::after {
        content: "";
        display: table;
        clear: both;
    }

    .counts h2,
    .counts-home h2 {
        width: calc((100% / 2) - 10px);
        float: left;
        margin: 0px 5px 10px 5px;
    }

    .counts h2.average {
        width: calc(100% - 10px);
        float: none;
    }

    .counts h2 span,
    .counts-home h2 span {
        font-size: 12px;
    }
} */

/* Reports
------------------------------------------------------------------------------ */
/* div.report {
    position: relative;
    width: 100%;
    min-height: 50px;
    border-radius: 2px;
    transition: all 200ms linear;
}

div.report.view {
    height: auto;
}

div.report > div.table {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

div.report > div.table > div.line {
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 20px;
}

div.report > div.table > div.head.line {
    padding: 15px 20px 10px;
}

div.report > div.table > div.line:nth-child(odd) {
    background-color: #FFF;
}

div.report > div.table > div.line:nth-child(even) {
    background-color: #F1F1F1;
}

div.report > div.table > div.line > p {
    margin: 0;
    width: 100%;
}

div.report > div.table > div.head.line > p {
    font-weight: bold;
    line-height: 1;
}

div.report > div.table > div.line > p:nth-child(1) {
    width: 10%;
}

div.report > div.table > div.line > p:nth-child(2) {
    width: 15%;
}

div.report > div.table > div.line > p:nth-child(3) {
    width: 15%;
}

div.report > div.table > div.line > p:nth-child(4) {
    width: 15%;
}

div.report > div.table > div.line > p:nth-child(5) {
    width: 20%;
}

div.report > div.table > div.line > p:nth-child(6) {
    width: 15%;
    text-align: center;
}

div.report > div.table > div.line > p:nth-child(7) {
    width: 10%;
    text-align: right;
}

@media print {

    body > main {
        padding: 0px;
    }

    header.main,
    section.box-container > div.main > article[step="filter"] {
        display: none;
    }

    section.box-container > div.main > article {
        margin-right: 0px;
        width: 100%;
        box-shadow: none;
    }

    section.box-container > div.main > article > main {
        padding: 0px;
    }
}

div.detail {
    width: 100%;
    border: 1px solid #E6E6E6;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

div.detail > p {
    width: auto;
    padding: 0px;
    margin: 0px 5px 0px 0px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

div.detail > p > img {
    width: auto;
    height: 15px;
    line-height: 0px;
    margin-right: 5px;
}

div.history {
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
    padding: 5px;
    box-sizing: border-box;
}

div.history > p {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

div.history > p > span {
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #bdbdbd;
    margin-right: 5px;
    color: #fff;
}

div.history > p > strong {
    color: #000;
    text-decoration: underline;
}

div.history > ul {
    padding-left: 40px;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

div.history > p > img {
    width: auto;
    height: 15px;
    line-height: 0px;
    margin-right: 5px;
}

@media (max-width: 1024px) {

    main.reports form[name="filter"] > div {
        width: calc(100% / 3) !important;
    }
}

@media (max-width: 768px) {

    main.reports form[name="filter"] > div {
        width: calc(100% / 2) !important;
    }
}

@media (max-width: 524px) {

    main.reports form[name="filter"] > div {
        width: 100% !important;
    }
} */

/* Account
------------------------------------------------------------------- */
/* div.account {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 20px;
    box-sizing: border-box;
}

div.account > h2 {
    margin: 20px 0px 0px 0px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #000;
}

div.account > h4 {
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

div.account > h5 {
    margin: 20px 0px 5px 0px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #212121;
}

div.account > h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

div.account > h6 > span > i {
    margin: 0px 4px 0px 15px;
    font-size: 12px;
}

div.account > div {
    margin-top: 40px;
}

form[name="edit_account"] > div.row > [class*=span] {
    min-height: auto !important;
}

@media (max-width: 425px) {

    div.account > h6 > span {
        display: block;
    }
} */

/* Perfil
------------------------------------------------------------------- */
div.profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    box-sizing: border-box;
}

div.profile > figure {
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
    overflow: hidden;
}

div.profile > figure > img {
    width: 100%;
}

div.profile > figure > a {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #757575;
    background-color: #fff;
    opacity: 0;
    transition: 400ms;
}

div.profile > figure:hover > a {
    opacity: 1;
    transition: 400ms;
}

div.profile > figure > input {
    display: none;
}

div.profile > div {
    width: auto;
    padding: 40px;
    box-sizing: border-box;
}

div.profile > div > h6 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

div.profile > div > h6 > i {
    margin-right: 10px;
}

div.profile > div > a {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #757575;
    background-color: #eee;
    transition: 400ms;
}

div.profile > div > a:hover {
    background-color: #bdbdbd;
    transition: 400ms;
}

/* Charts
------------------------------------------------------------------------------ */
/* div.charts {
    width: calc(100% / 3);
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

div.charts.complete {
    width: 100%;
}

div.charts.medium {
    width: 50%;
}

div.charts > canvas {
    width: 100%;
    display: block;
}

div.charts > a {
    width: auto;
    display: inline-block;
    margin-top: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #00a5ab;
} */

/* Inputs
------------------------------------------------------------------------------ */
div.label {
    width: 100%;
    margin-bottom: 20px;
}

div.label:last-child {
    margin-bottom: 0;
}

div.label > label {
    width: 100%;
}

div.label > label > p {
    width: 100%;
    margin-bottom: 10px;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #757575;
    overflow: hidden;
}

div.label > label > p.description,
div.label > label > p.error {
    font-size: 12px;
    margin-top: 10px;
}

div.label > label.error > p {
    color: #f44336 !important;
}

div.label > label > input,
div.label > label > select,
div.label > label > textarea {
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    border: 1px solid #eee;
    box-sizing: border-box;
    background-color: #eee;
    /* -webkit-appearance: none; */
}

div.label > label > textarea {
    padding: 20px;
    height: 150px;
    /* resize: none; */
}

div.label > label[important] > input,
div.label > label[important] > select,
div.label > label[important] > textarea {
    border-color: #ff9800 !important;
}

div.label > label.success > input,
div.label > label.success > select,
div.label > label.success > textarea {
    border-color: #009688 !important;
}

div.label > label.error > input,
div.label > label.error > select,
div.label > label.error > textarea {
    border-color: #f44336 !important;
}

div.label > label > a {
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
    background-color: #eee;
    transition: 400ms;
}

div.label > label > a:hover {
    background-color: #bdbdbd;
    transition: 400ms;
}

/* Checkbox
------------------------------------------------------------------------------ */
div.checkboxes > div {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eee;
    margin-top: 5px;
}

div.checkboxes > div > h4 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #757575;
}

div.checkboxes > div > h4 > i {
    margin-right: 5px;
}

div.checkboxes > div > div {
    width: 100%;
}

div.checkboxes > div > div::after {
    content: '';
    display: block;
    clear: both;
}

div.checkboxes > div > div > p {
    width: 100%;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
    clear: both;
}

div.checkboxes > div > div > div {
    width: auto;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

div.checkboxes > div > div > div > span {
    padding: 0px 10px 0px 5px;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

div.checkboxes > div > div > div > input[type="checkbox"],
div.checkboxes > div > div > div > input[type="radio"] {
    width: 20px;
    height: 20px;
    position: relative;
    margin: 0px;
    padding: 0px;
    border: 0px;
    -webkit-appearance: none;
}

div.checkboxes > div > div > div > input[type="checkbox"]::before {
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    background-color: #e0e0e0;
    z-index: 1;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.2s ease all;
       -moz-transition: 0.2s ease all;
        -ms-transition: 0.2s ease all;
         -o-transition: 0.2s ease all;
            transition: 0.2s ease all;
}

div.checkboxes > div > div > div > input[type="checkbox"]:checked::before {
    height: 10px;
    top: 0px;
    left: 2px;
    background: none;
    border: 3px solid #fff;
    border-top-style: none;
    border-right-style: none;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

div.checkboxes > div > div > div > input[type="checkbox"]::after {
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    position: absolute;
    display: block;
    content: '';
    background-color: #00a5ab;
    z-index: 0;
}

div.checkboxes > div > div > div > input[type="radio"]::before {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    content: '';
    background-color: #e0e0e0;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: 0.2s ease all;
       -moz-transition: 0.2s ease all;
        -ms-transition: 0.2s ease all;
         -o-transition: 0.2s ease all;
            transition: 0.2s ease all;
}

div.checkboxes > div > div > div > input[type="radio"]:checked::before {
    background-color: #00a5ab;
}

div.checkboxes > div > div > div > input[type="radio"]::after {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    content: '';
    background-color: transparent;
    border: none;
    z-index: 0;
}

div.checkboxes > div > div > div > input[type="checkbox"]:focus,
div.checkboxes > div > div > div > input[type="radio"]:focus {
    border: none;
    box-shadow: none;
}

/* Switch
------------------------------------------------------------------------------ */
div.switch {
    position: relative !important;
    width: 100% !important;
    max-width: 180px !important;
    margin: 0px auto !important;
    -webkit-user-select:none !important;
    -moz-user-select:none !important;
    -ms-user-select: none !important;
}

div.switch > label {
    position: initial !important;
}

div.switch > label {
    display: block !important;
    overflow: hidden !important;
    cursor: pointer !important;
    height: 40px !important;
    padding: 0 !important;
    line-height: 40px !important;
    border: 0px solid #fff !important;
    border-radius: 60px !important;
    background-color: #eee !important;
}

div.switch > label:before {
    content: "" !important;
    display: block !important;
    width: 60px !important;
    margin: -10px !important;
    background: #e0e0e0 !important;
    box-sizing: border-box;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: calc(100% - 60px) !important;
    border-radius: 60px !important;
    transition: 400ms;
}

div.switch > input {
    display: none !important;
}

.switch-input:checked + .switch-label {
    background-color: #00a5ab !important;
    transition: 400ms;
}

.switch-input:checked + .switch-label, .switch-input:checked + .switch-label:before {
    background-color: #00a5ab !important;
    transition: 400ms;
}

.switch-input:checked + .switch-label .switch-inner {
    margin-left: 0 !important;
    transition: 400ms;
}

.switch-input:checked + .switch-label:before {
    right: 20px !important;
    background-color: #fff !important;
    border: 1px dashed #00a5ab;
    box-sizing: border-box;
    transition: 400ms;
}

/* Modals
------------------------------------------------------------------- */
section.modal > div.content > header {
    background-color: #fff;
}

section.modal > div.content > header > h3 {
    color: #757575;
}

section.modal.new > div.content > header {
    background-color: #00a5ab;
}

section.modal.edit > div.content > header {
    background-color: #ff9800;
}

section.modal.delete > div.content > header {
    background-color: #f44336;
}

section.modal.new > div.content > header > h3,
section.modal.edit > div.content > header > h3,
section.modal.delete > div.content > header > h3 {
    color: #fff;
}

section.modal[data-modal="success"] main,
section.modal[data-modal="error"] main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.modal[data-modal="success"] main {
    background-color: #00a5ab;
}

section.modal[data-modal="error"] main {
    background-color: #f44336;
}

section.modal[data-modal="success"] main > figure,
section.modal[data-modal="error"] main > figure {
    height: 200px;
    margin-bottom: 40px;
}

section.modal[data-modal="success"] main > figure > img,
section.modal[data-modal="error"] main > figure > img {
    height: 100%;
}

section.modal[data-modal="success"] main > p,
section.modal[data-modal="error"] main > p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

section.modal[data-modal="error"] main > p {
    margin-bottom: 40px;
}

section.modal[data-modal="error"] main > a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/* Ajax loader
------------------------------------------------------------------------------ */
.loading::after {
    content: "";
    background-image: url('../images/load.gif');
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left:  0;
    right:  0;
    bottom:  0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.7);
}

[data-ajax-loader] {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

[data-ajax-loader] > div.loader {
    width: 2em;
    height: 2em;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    pointer-events: none;
    border: 1em solid transparent;
    border-top-color: currentcolor;
    border-radius: 50%;
    color: #e0e0e0;
    -webkit-animation: 1s loader linear infinite;
            animation: 1s loader linear infinite;
}

[data-ajax-loader] > div.loader:before {
    width: inherit;
    height: inherit;
    top: -1em;
    left: -1em;
    position: absolute;
    display: block;
    content: '';
    border: 1em solid currentcolor;
    border-radius: 50%;
    opacity: .5;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/* Generals
------------------------------------------------------------------------------ */
a {
    cursor: pointer;
    text-decoration: none;
}

a.new {
    background-color: #00a5ab !important;
    color: #fff !important;
    transition: 400ms;
}

a.new:hover {
    background-color: #009688 !important;
    transition: 400ms;
}

a.edit {
    background-color: #ffc107 !important;
    color: #fff !important;
    transition: 400ms;
}

a.edit:hover {
    background-color: #ffa000 !important;
    transition: 400ms;
}

a.delete {
    background-color: #f44336 !important;
    color: #fff !important;
    transition: 400ms;
}

a.delete:hover {
    background-color: #d32f2f !important;
    transition: 400ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

form [class*="span"] {
    margin-bottom: 0px !important;
    padding: 10px 5px 10px;
}

/* label.tmp-1 {
    width: 100px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 5px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #00a5ab;
    border-radius: 5px;
}

label.tmp-1 > span {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

label.tmp-1 > span > i {
    font-size: 35px;
    color: #fff;
    margin: 5px 0px;
}

label.tmp-1 > input {
    margin: 0px;
} */
