
/* Header
------------------------------------------------------------------------------ */
header.landing-page-index {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 99;
}

header.landing-page-index.down {
    background-color: #00a5ab;
}

header.landing-page-index > .container {
    height: 100%;
}

header.landing-page-index > .container > figure {
    width: 200px;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
}

header.landing-page-index > .container > figure > img {
    width: 100%;
}

header.landing-page-index > .container > nav,
header.landing-page-index > .container > nav > ul {
    width: auto;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.landing-page-index > .container > nav > ul:last-child {
    display: none;
}

header.landing-page-index > .container > nav > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 100px;
    box-sizing: border-box;
    color: #fff;
    background: none;
    transition: 400ms;
}

header.landing-page-index > .container > nav > ul > li > a.no-border {
    border-color: #00a5ab;
}

header.landing-page-index > .container > nav > ul > li > a.lang {
    padding: 0px;
}

header.landing-page-index > .container > nav > ul > li > a:hover {
    text-decoration: none !important;
    color: #00a5ab;
    background-color: #fff !important;
    border-color: #fff;
    transition: 400ms;
}

header.landing-page-index > .container > nav > ul > li > a > img {
    width: auto;
    height: 20px;
}

@media (max-width: 768px) {

    header.landing-page-index > .container > nav {
        position: relative;
    }

    header.landing-page-index > .container > nav > ul:last-child {
        display: flex;
    }

    header.landing-page-index > .container > nav > ul:first-child {
        width: 300px;
        height: 100vh;
        position: fixed;
        top: 0px;
        right: -340px;
        bottom: 0px;
        float: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        box-shadow: -10px 2px 8px -12px rgba(0,0,0,0.75);
        transition: 400ms;
        z-index: 99;
    }

    header.landing-page-index > .container > nav > ul:first-child.open {
        right: 0px;
        transition: 400ms;
    }

    header.landing-page-index > .container > nav > ul:first-child > li > a {
        min-width: 125px;
        border: 2px solid #00a5ab;
        color: #00a5ab;
    }

    header.landing-page-index > .container > nav > ul:first-child > li > a.no-border {
        border-color: #fff;
    }

    header.landing-page-index > .container > nav > ul:first-child > li > a:hover {
        color: #fff;
        background-color: #00a5ab !important;
        border-color: #00a5ab;
    }
}

/* Main
------------------------------------------------------------------------------ */
main.landing-page-index {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

main.landing-page-index > section.home {
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0px 50px 0px;
    background-color: #00a5ab;
}

main.landing-page-index > section.home::before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    content: '';
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100%;
    background-image: url('../../images/home-before.svg');
    z-index: 1;
}

main.landing-page-index > section.home > .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

main.landing-page-index > section.home > .container > figure {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    line-height: 0px;
    overflow: hidden;
}

main.landing-page-index > section.home > .container > figure > img {
    width: 100%;
}

main.landing-page-index > section.home > .container > div {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 70px;
}

main.landing-page-index > section.home > .container > div > h4 {
    margin: 0px 0px 20px 0px;
    font-size: 80px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -4px;
    line-height: 0.8;
    color: #fff;
}

main.landing-page-index > section.home > .container > div > h1 {
    margin: 0px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -2px;
    color: #fff;
}

main.landing-page-index > section.home > .container > div > h1 > span {
    color: #003a5d;
}

@media (max-width: 768px) {

    main.landing-page-index > section.home > .container > div > h4 {
        font-size: 45px;
    }

    main.landing-page-index > section.home > .container > div > h1 {
        font-size: 24px;
    }

    main.landing-page-index > section.home {
        padding-top: 0px;
    }

    main.landing-page-index > section.home > .container {
        flex-direction: column;
    }

    main.landing-page-index > section.home > .container > figure {
        width: 60%;
        height: auto;
        overflow: visible;
        margin-bottom: 20px;
    }

    main.landing-page-index > section.home > .container > div {
        width: 80%;
        height: auto;
        padding: 0px;
    }

    main.landing-page-index > section.home > .container > div > h1 {
        line-height: 20px;
    }
}

main.landing-page-index > section.features-one {
    width: 100%;
    padding: 50px 0px;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

main.landing-page-index > section.features-one > .container > h2 {
    margin: 0px;
    padding: 0px 0px 50px 0px;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -4px;
    line-height: 1;
    color: #444;
}

main.landing-page-index > section.features-one > .container > div {
    width: calc(100% / 4);
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

main.landing-page-index > section.features-one > .container > div > img {
    width: 100px;
    display: block;
    margin: 0 auto 10px;
}

main.landing-page-index > section.features-one > .container > div > p {
    margin: 0;
    text-align: center;
    font-size: 25px;
    line-height: 1.2;
}

@media (max-width: 768px) {

    main.landing-page-index > section.features-one > .container > div {
        width: calc(100% / 2);
    }

    main.landing-page-index > section.features-one > .container > h2 {
        font-size: 40px;
    }

    main.landing-page-index > section.features-one > .container > div {
        width: 100%;
    }
}

main.landing-page-index > section.features-two {
    width: 100%;
    padding: 50px 0px;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

main.landing-page-index > section.features-two > div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../images/features.png');
    background-color: #eee;
}

@media (max-width: 768px) {

    main.landing-page-index > section.features-two > div {
        height: auto;
        padding: 50px 0px;
        box-sizing: border-box;
        background-position: bottom;
    }
}

main.landing-page-index > section.features-two > div > ul {
    list-style: none;
}

main.landing-page-index > section.features-two > div > ul > li {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    color: #444;
}

main.landing-page-index > section.features-two > div > ul > li > i {
    margin-right: 20px;
    color: #2196F3;
}

main.landing-page-index > section.features-two > div > ul > li > a {
    width: 400px;
    margin: 50px auto;
    border-radius: 100px;
    padding: 20px 30px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #FFF;
    background-color: #00a5ab;
}

@media (max-width: 768px) {

    main.landing-page-index > section.features-two > div > ul > li > a {
        width: 100%;
        margin: 50px 0px 0px 0px;
    }
}

main.landing-page-index > section.features-two > div > ul > li > a:hover {
    color: #00a5ab;
    background-color: #fff;
}

@media (max-width: 768px) {

    main.landing-page-index > section.features-two > div > ul {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    main.landing-page-index > section.features-two > div > ul > li {
        font-size: 20px;
    }
}

main.landing-page-index > section.clients {
    width: 100%;
    padding: 50px 0px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

main.landing-page-index > section.clients > .container > h2 {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -4px;
    line-height: 1;
    color: #444;
}

main.landing-page-index > section.clients > .container > div {
    width: 100%;
    padding: 100px 0px;
    box-sizing: border-box;
}

main.landing-page-index > section.clients > .container > div::after {
    content: '';
    display: block;
    clear: both;
}

main.landing-page-index > section.clients > .container > div > figure {
    width: calc(100% / 6);
    height: 150px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

@media (max-width: 768px) {

    main.landing-page-index > section.clients > .container > h2 {
        font-size: 40px;
    }

    main.landing-page-index > section.clients > .container > div > figure {
        width: 100%;
        height: auto;
        float: none;
    }
}

main.landing-page-index > section.clients > .container > div > figure > img {
    width: 100%;
    height: auto;
}

main.landing-page-index > section.clients > .container > a {
    width: 100%;
    max-width: 400px;
    border-radius: 100px;
    padding: 20px 30px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

main.landing-page-index > section.team {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    background-color: #eee;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {

    main.landing-page-index > section.team {
        flex-direction: column;
    }
}

main.landing-page-index > section.team > div {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {

    main.landing-page-index > section.team > div {
        margin-bottom: 20px;
    }
}

main.landing-page-index > section.team > div > div {
    width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #e0e0e0;
    margin-bottom: 30px;
}

main.landing-page-index > section.team > div > div > figure {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 0px;
    overflow: hidden;
    background-color: #fff;
}

main.landing-page-index > section.team > div > div > figure > img {
    width: 100%;
    border-radius: 50%;
}

main.landing-page-index > section.team > div > span {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 30px;
    color: #444;
}

main.landing-page-index > section.team > div > span > strong {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -4px;
}

/* Footer
------------------------------------------------------------------------------ */
footer.landing-page-index > div > div.widget_cs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    box-sizing: border-box;
}

footer.landing-page-index > div > div.widget_cs > a > img {
    width: 180px;
}

footer.landing-page-index > div > div.widget_cs > span {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #212121;
    text-align: center;
}

@media (max-width: 768px) {

    footer.landing-page-index > div > div.widget_cs {
        flex-direction: column;
    }

    footer.landing-page-index > div > div.widget_cs > span {
        margin-left: 0px;
        margin-top: 20px;
    }
}

footer.landing-page-index {
    width: 100%;
    background-color: #fff;
    margin: 20px 0 20px 0px;
}

footer.landing-page-index > .container {
    height: 100%;
}

footer.landing-page-index > .container > nav,
footer.landing-page-index > .container > nav > ul {
    width: auto;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer.landing-page-index > .container > nav > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2px solid #00a5ab;
    box-sizing: border-box;
    color: #00a5ab;
    background: none;
    transition: 400ms;
}

footer.landing-page-index > .container > nav > ul > li > a.no-border {
    border-color: #fff;
}

footer.landing-page-index > .container > nav > ul > li > a:hover {
    text-decoration: none !important;
    color: #fff;
    background-color: #00a5ab !important;
    border-color: #00a5ab;
    transition: 400ms;
}

footer.landing-page-index > .container > figure {
    width: 200px;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
}

footer.landing-page-index > .container > figure > img {
    width: 100%;
}

@media (max-width: 768px) {

    footer.landing-page-index {
        height: auto;
        margin: 0px;
        padding: 50px 0px;
        box-sizing: border-box;
    }

    footer.landing-page-index > .container > nav,
    footer.landing-page-index > .container > nav > ul {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    footer.landing-page-index > .container > nav > ul > li > a {
        text-align: center;
    }

    footer.landing-page-index > .container > figure {
        width: 100%;
        height: 80px;
        margin-top: 50px;
    }

    footer.landing-page-index > .container > figure > img {
        width: auto;
        height: 100%;
    }
}
