
main.landing_page_index {
    width: 100%;
}

/*  */
main.landing_page_index > section.stl_1 {
    width: 100%;
    height: 100vh;
    min-height: 625px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00a5ab;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_1 {
        height: auto;
        min-height: auto;
        flex-direction: column;
    }
}

main.landing_page_index > section.stl_1 > figure {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_1 > figure {
        width: 100%;
        height: auto;
        padding: 50px 20px;
        box-sizing: border-box;
        justify-content: center;
    }
}

main.landing_page_index > section.stl_1 > figure > img {
    width: auto;
    height: 100%;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_1 > figure > img {
        width: 100%;
        height: auto;
    }
}

main.landing_page_index > section.stl_1 > div {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_1 > div {
        width: 100%;
        height: auto;
        padding: 0px 20px 50px 20px;
    }
}

main.landing_page_index > section.stl_1 > div > figure,
main.landing_page_index > section.stl_1 > div > figure > img {
    width: auto;
    height: 100px;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_1 > div > figure,
    main.landing_page_index > section.stl_1 > div > figure > img {
        height: 50px;
    }
}

main.landing_page_index > section.stl_1 > div > h1 {
    margin: 50px 0px 0px 0px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -2px;
    line-height: 1.0;
    color: #fff;
}

main.landing_page_index > section.stl_1 > div > p {
    margin: 20px 0px 50px 0px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -2px;
    line-height: 1.0;
    color: #fff;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_1 > div > h1,
    main.landing_page_index > section.stl_1 > div > p {
        font-size: 25px;
    }
}

main.landing_page_index > section.stl_1 > div > h1 > span,
main.landing_page_index > section.stl_1 > div > p > span {
    color: #24383f;
}

main.landing_page_index > section.stl_1 > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

main.landing_page_index > section.stl_1 > div > div > a {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    padding: 0px 50px;
    border-radius: 50px;
    background-color: #fff;
    color: #24383f;
}

/*  */
main.landing_page_index > section.stl_2,
main.landing_page_index > section.stl_3 {
    width: 100%;
    height: 100vh;
    min-height: 625px;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_2,
    main.landing_page_index > section.stl_3 {
        height: auto;
        min-height: auto;
    }
}

main.landing_page_index > section.stl_2::after,
main.landing_page_index > section.stl_3::after {
    content: '';
    display: block;
    clear: both;
}

main.landing_page_index > section.stl_2 > figure,
main.landing_page_index > section.stl_3 > figure {
    width: 40%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

main.landing_page_index > section.stl_2 > figure {
    float: right;
}

main.landing_page_index > section.stl_3 > figure {
    float: left;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_2 > figure,
    main.landing_page_index > section.stl_3 > figure {
        width: 100%;
        height: 200px;
        float: none;
    }
}

main.landing_page_index > section.stl_2 > figure > img,
main.landing_page_index > section.stl_3 > figure > img {
    width: auto;
    height: 100%;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_2 > figure > img,
    main.landing_page_index > section.stl_3 > figure > img {
        width: 100%;
        height: auto;
    }
}

main.landing_page_index > section.stl_2 > div,
main.landing_page_index > section.stl_3 > div {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background-color: #24383f;
}

main.landing_page_index > section.stl_2 > div {
    float: left;
}

main.landing_page_index > section.stl_3 > div {
    float: right;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_2 > div,
    main.landing_page_index > section.stl_3 > div {
        width: 100%;
        height: auto;
        padding: 50px 20px;
    }
}

main.landing_page_index > section.stl_2 > div > h2,
main.landing_page_index > section.stl_3 > div > h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -2px;
    line-height: 1.0;
    color: #fff;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_2 > div > h2,
    main.landing_page_index > section.stl_3 > div > h2 {
        font-size: 25px;
    }
}

main.landing_page_index > section.stl_2 > div > div,
main.landing_page_index > section.stl_3 > div > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_2 > div > div,
    main.landing_page_index > section.stl_3 > div > div {
        flex-direction: column;
    }
}

main.landing_page_index > section.stl_2 > div > div > div,
main.landing_page_index > section.stl_3 > div > div > div {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_2 > div > div > div,
    main.landing_page_index > section.stl_3 > div > div > div {
        width: 100%;
        margin-bottom: 50px;
    }

    main.landing_page_index > section.stl_2 > div > div > div:last-child,
    main.landing_page_index > section.stl_3 > div > div > div:last-child {
        margin-bottom: 0px;
    }
}

main.landing_page_index > section.stl_2 > div > div > div > i,
main.landing_page_index > section.stl_3 > div > div > div > i {
    margin-bottom: 30px;
    font-size: 80px;
    color: rgba(255, 255, 255, 0.6);
}

main.landing_page_index > section.stl_2 > div > div > div > p,
main.landing_page_index > section.stl_3 > div > div > div > p {
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

main.landing_page_index > section.stl_2 > div > a,
main.landing_page_index > section.stl_3 > div > a {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    border-radius: 50px;
    background-color: #fff;
    color: #24383f;
}

/*  */
main.landing_page_index > section.stl_4 {
    width: 100%;
    padding: 100px 0px;
    box-sizing: border-box;
    background-color: #eee;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_4 {
        padding: 50px 20px;
    }
}

main.landing_page_index > section.stl_4 > h2 {
    width: 100%;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -2px;
    line-height: 1.0;
    color: #444;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_4 > h2 {
        margin-bottom: 50px;
    }
}

main.landing_page_index > section.stl_4 > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_4 > div {
        flex-direction: column;
    }
}

main.landing_page_index > section.stl_4 > div > div {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_4 > div > div {
        width: 100%;
        padding: 0px 20px 50px 20px;
    }

    main.landing_page_index > section.stl_4 > div > div:last-child {
        padding-bottom: 0px;
    }
}

main.landing_page_index > section.stl_4 > div > div > i {
    margin-bottom: 30px;
    font-size: 80px;
    color: #bdbdbd;
}

main.landing_page_index > section.stl_4 > div > div > p {
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

/*  */
main.landing_page_index > section.stl_5 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    box-sizing: border-box;
    background-color: #fff;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_5 {
        flex-direction: column;
        padding: 50px 20px;
    }
}

main.landing_page_index > section.stl_5 > div {
    width: calc(100% / 4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_5 > div {
        width: 100%;
        padding: 0px 20px 50px 20px;
    }

    main.landing_page_index > section.stl_5 > div:last-child {
        padding-bottom: 0px;
    }
}

main.landing_page_index > section.stl_5 > div > i {
    margin-bottom: 30px;
    font-size: 80px;
    color: #bdbdbd;
}

main.landing_page_index > section.stl_5 > div > p {
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

/*  */
main.landing_page_index > section.stl_6,
main.landing_page_index > section.stl_9 {
    width: 100%;
    padding: 100px 0px;
    box-sizing: border-box;
    background-color: #fff;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_6,
    main.landing_page_index > section.stl_9 {
        padding: 50px 20px;
    }
}

main.landing_page_index > section.stl_6 > h2,
main.landing_page_index > section.stl_9 > h2 {
    width: 100%;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -2px;
    line-height: 1.0;
    color: #444;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_6 > h2,
    main.landing_page_index > section.stl_9 > h2 {
        font-size: 25px;
    }
}

main.landing_page_index > section.stl_6 > div,
main.landing_page_index > section.stl_9 > div {
    width: 100%;
}

main.landing_page_index > section.stl_6 > div::after,
main.landing_page_index > section.stl_9 > div::after {
    content: '';
    display: block;
    clear: both;
}

main.landing_page_index > section.stl_6 > div > figure,
main.landing_page_index > section.stl_9 > div > figure {
    width: calc(100% / 4);
    height: 200px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_6 > div > figure,
    main.landing_page_index > section.stl_9 > div > figure {
        width: 100%;
        height: auto;
        float: none;
        margin-bottom: 50px;
    }

    main.landing_page_index > section.stl_6 > div > figure:last-child,
    main.landing_page_index > section.stl_9 > div > figure:last-child {
        margin-bottom: 0px;
    }
}

main.landing_page_index > section.stl_6 > div > figure > img,
main.landing_page_index > section.stl_9 > div > figure > img {
    width: 70%;
}

/*  */
main.landing_page_index > section.stl_7 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
    box-sizing: border-box;
    background-color: #fff;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_7 {
        padding: 0px 20px 50px 20px;
    }
}

main.landing_page_index > section.stl_7 > i {
    font-size: 80px;
    color: #757575;
}

main.landing_page_index > section.stl_7 > h2 {
    margin: 50px 0px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -2px;
    line-height: 1.0;
    color: #444;
}

main.landing_page_index > section.stl_7 > a {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    border-radius: 50px;
    background-color: #00a5ab;
    color: #fff;
}

/*  */
main.landing_page_index > section.stl_8 {
    width: 100%;
    padding: 100px 0px;
    box-sizing: border-box;
    background-color: #eee;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_8 {
        padding: 50px 20px;
    }
}

main.landing_page_index > section.stl_8::after {
    content: '';
    display: block;
    clear: both;
}

main.landing_page_index > section.stl_8 > h2 {
    width: 100%;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -2px;
    line-height: 1.0;
    color: #444;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_8 > h2 {
        font-size: 25px;
    }
}

main.landing_page_index > section.stl_8 > div {
    width: calc(100% / 3);
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_8 > div {
        width: 100%;
        float: none;
        padding: 0px 0px 50px 0px;
    }

    main.landing_page_index > section.stl_8 > div:last-child {
        padding-bottom: 0px;
    }
}

main.landing_page_index > section.stl_8 > div > figure {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
}

main.landing_page_index > section.stl_8 > div > figure > img {
    width: 100%;
    border-radius: 50%;
}

main.landing_page_index > section.stl_8 > div > h3 {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1.0;
    color: #444;
}

main.landing_page_index > section.stl_8 > div > h4 {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

/*  */
main.landing_page_index > section.stl_10 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
    box-sizing: border-box;
    background-color: #fff;
}

@media (max-width: 768px) {

    main.landing_page_index > section.stl_10 {
        padding: 50px 20px;
    }
}

main.landing_page_index > section.stl_10 > div {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.landing_page_index > section.stl_10 > div > a {
    width: auto;
    font-size: 14px;
    color: #757575;
}

main.landing_page_index > section.stl_10 > div > a > i {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.landing_page_index > section.stl_10 > div > i {
    margin: 0px 10px;
    font-size: 6px;
    color: #757575;
}

main.landing_page_index > section.stl_10 > p {
    width: auto;
    font-size: 12px;
    color: #757575;
}

main.landing_page_index > section.stl_10 > p > i {
    margin: 0px 5px;
    font-size: 12px;
    color: #757575;
}
