
main.login {
    width: 100%;
    height: 100vh;
    min-height: 625px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*  */
main.login > figure {
    width: 100%;
    height: 60%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #00a5ab;
}

main.login > figure::after {
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -1px;
    border-radius: 50% 50% 0px 0px;
    background-color: #fff;
}

main.login > figure > img {
    width: 100%;
    max-width: 200px;
}

/*  */
main.login > form {
    width: 100%;
    max-width: 400px;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
}

main.login > form > fieldset {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

main.login > form > fieldset > input {
    width: 100%;
    height: 50px;
    padding: 0px 10px 0px 25px;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #eee;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

main.login > form > fieldset.error > input {
    border: 1px solid #f44336;
}

main.login > form > a,
main.login > form > a[data-action="login"] {
    width: auto;
    margin: 5px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    color: #24383f;
}

main.login > form > a[data-action="login"] {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    border-radius: 50px;
    background-color: #24383f;
    color: #fff;
}
