
/* Main
------------------------------------------------------------------------------ */
main.login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

main.login > form {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.login > form > figure,
main.login > form > figure > img {
    width: auto;
    height: 150px;
    line-height: 0px;
    margin: 0px 0px 20px 0px;
    padding: 0px;
}

main.login > form > fieldset {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

main.login > form > fieldset > input {
    width: 100%;
    height: 60px;
    display: block;
    border: none;
    border-radius: 60px;
    padding: 0px 10px 0px 25px;
    box-sizing: border-box;
    background-color: #eee;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

main.login > form > fieldset.error > input {
    border: 1px solid #f44336;
}

main.login > form > a,
main.login > form > a[data-action="login"] {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding: 0px 0px;
    box-sizing: border-box;
    background-color: #eee;
    cursor: pointer;
    color: #000;
}

main.login > form > a {
    height: auto;
    background: none;
}

main.login > form > a[data-action="login"] {
    margin: 20px 0px;
    border-radius: 60px;
}
@media (max-width: 768px) {
    
    main.login > form > a{
        display: none;
    }
    main.login > form > a[data-action="login"] {
        width: 200px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 60px;
        padding: 0px 0px;
        box-sizing: border-box;
        background-color: #00A5AB;
        cursor: pointer;
        color: #FFF;
    }
    .cierre{
        display: block;
        width: 30px !important;
        height: 30px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        border-radius: 50% !important;
        color: #FFF !important;
        background-color: #00A5AB !important;
        position: fixed;
        top: 40px;
        right: 60px;
    }

}