
main.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #00a5ab;
}

/*  */
main.login > figure {
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

main.login > figure > img {
    width: 100%;
}

/*  */
main.login > form {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

main.login > form > fieldset {
    width: 100%;
    margin-bottom: 10px;
}

main.login > form > fieldset:last-child {
    margin-bottom: 0px;
}

main.login > form > fieldset > input {
    width: 100%;
    height: 60px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

main.login > form > fieldset.error > input {
    border: 1px solid #f44336;
}

main.login > form > fieldset > button,
main.login > form > fieldset > button:hover {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    color: #24383f;
}

main.login > form > fieldset > a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
}
