
main.landing-page-terms-and-conditions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
}

main.landing-page-terms-and-conditions > figure,
main.landing-page-terms-and-conditions > figure > img {
    width: auto;
    height: 150px;
    line-height: 0px;
    margin: 0px 0px 40px 0px;
    padding: 0px;
}

main.landing-page-terms-and-conditions > h1,
main.landing-page-terms-and-conditions > h2 {
    width: 100%;
    max-width: 800px;
    font-size: 24px;
    font-weight: 600;
}

main.landing-page-terms-and-conditions > h1 {
    text-align: center;
}

main.landing-page-terms-and-conditions > p {
    width: 100%;
    max-width: 800px;
    margin: 40px 0px;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    color: #757575;
}
