/* My vox - Header
------------------------------------------------------------------------------ */
header.my-vox {
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
    background-color: #fff;
}

/*  */
header.my-vox > div.topbar {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    box-sizing: border-box;
}

/*  */
header.my-vox > div.topbar > figure.logotype,
header.my-vox > div.topbar > figure.logotype > img {
    width: auto;
    height: 100%;
    line-height: 0px;
}

/*  */
header.my-vox > div.bottombar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  */
header.my-vox > div.bottombar > div.weather {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  */
header.my-vox > div.bottombar > div.multilanguage {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

header.my-vox > div.bottombar > div.multilanguage > a {
    width: auto;
    height: auto;
    line-height: 0px;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

header.my-vox > div.bottombar > div.multilanguage > a:last-child {
    margin: 0px;
}

header.my-vox > div.bottombar > div.multilanguage > a > img {
    width: auto;
    height: 30px;
}

/* My vox - Main
------------------------------------------------------------------------------ */
main.my-vox {
    min-height: auto !important;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

/*  */
main.my-vox > div.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.my-vox > div.menu > h2 {
    margin: 0px;
    padding: 0px 0px 40px 0px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -2px;
    line-height: 1;
    color: #444;
}

main.my-vox > div.menu > a {
    width: 100%;
    max-width: 500px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 60px;
    box-sizing: border-box;
    background-color: #00a5ab;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

main.my-vox > div.menu > a.survey {
    position: relative;
    padding-right: 40px;
    background-color: #cddc39;
    color: #b71c1c;
}

main.my-vox > div.menu > a.survey > img {
    width: 70px;
    right: -10px;
    position: absolute;
}

/* My vox - Footer
------------------------------------------------------------------------------ */
footer.my-vox {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}

/*  */
footer.my-vox > h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #757575;
}

footer.my-vox > h4 > img {
    width: auto;
    height: 20px;
    margin-left: 5px;
}

footer.my-vox > p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

/* My vox - Survey
------------------------------------------------------------------------------ */
form[name="new_survey_answer"] > article {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eee;
}

form[name="new_survey_answer"] > article > h6,
form[name="new_survey_answer"] > article.subquestions > article.subquestions-sub > h6 {
    font-size: 15px;
    font-weight: 400;
    color: #757575;
}

form[name="new_survey_answer"] > article > div > label,
form[name="new_survey_answer"] > article.subquestions > article.subquestions-sub > div > label {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    color: #757575;
}

form[name="new_survey_answer"] > article > div.checkboxes {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eee;
    margin-top: 5px;
}

form[name="new_survey_answer"] > article > div.checkboxes > input[type="checkbox"]{
    width: 20px;
    height: 20px;
    position: relative;
    margin: 0px;
    padding: 0px;
    border: 0px;
    -webkit-appearance: none;
}

form[name="new_survey_answer"] > article > div.checkboxes > span {
    padding: 0px 10px 0px 5px;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

form[name="new_survey_answer"] > article > div.checkboxes > input[type="checkbox"]:checked::before {
    height: 10px;
    top: 0px;
    left: 2px;
    background: none;
    border: 3px solid #fff;
    border-top-style: none;
    border-right-style: none;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

form[name="new_survey_answer"] > article > div.checkboxes > input[type="checkbox"]::after {
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    position: absolute;
    display: block;
    content: '';
    background-color: #00a5ab;
    z-index: 0;
}

form[name="new_survey_answer"] > article > div.checkboxes > input[type="checkbox"]::before {
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    background-color: #e0e0e0;
    z-index: 1;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.2s ease all;
       -moz-transition: 0.2s ease all;
        -ms-transition: 0.2s ease all;
         -o-transition: 0.2s ease all;
            transition: 0.2s ease all;
}

form[name="new_survey_answer"] > article > div.checkboxes > input[type="checkbox"]:focus {
    border: none;
    box-shadow: none;
}

form[name="new_survey_answer"] > article > div > input {
    width: 100%;
    padding: 5px 10px;
    box-sizing:border-box;
    border: none;
}

form[name="new_survey_answer"] > article.subquestions {
    padding: 20px 30px;
    box-sizing: border-box;
}

form[name="new_survey_answer"] > article.subquestions > div {
    margin-bottom: 5px;
}

form[name="new_survey_answer"] > article.subquestions >  article.subquestions-sub {
    padding: 10px 15px;
    box-sizing: border-box;
}

form[name="new_survey_answer"] > article.subquestions  > article.subquestions-sub > div {
    margin-bottom: 5px;
}

/* My vox - Modals
------------------------------------------------------------------------------ */
section.modal[data-modal="new_request"] > div.content,
section.modal[data-modal="new_incident"] > div.content,
section.modal[data-modal="new_survey_answer"] > div.content {
    width: 100%;
    margin: 0px;
}

section.modal[data-modal="new_request"] > div.content > main > form > div.row > [class*=span],
section.modal[data-modal="new_incident"] > div.content > main > form > div.row > [class*=span],
section.modal[data-modal="new_survey_answer"] > div.content > main > form > div.row > [class*=span] {
    min-height: auto !important;
}
