
/* Header
------------------------------------------------------------------------------ */
header.myvox {
    width: 100%;
    padding: 50px 20px 0px 20px;
    box-sizing: border-box;
    background-color: #fff;
}

/*  */
header.myvox > figure {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

header.myvox > figure > img {
    width: auto;
    height: 100%;
}

/*  */
header.myvox > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.myvox > div > a {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 5px;
}

header.myvox > div > a > img {
    width: auto;
    height: 20px;
    margin-bottom: 10px;
}

header.myvox > div > a > span {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

/* Main
------------------------------------------------------------------------------ */
main.myvox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 20px 0px 20px;
    box-sizing: border-box;
    background-color: #fff;
}

/*  */
main.myvox > h2 {
    width: 100%;
    padding-bottom: 50px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -2px;
    line-height: 1.0;
    color: #444;
}

main.myvox > a {
    width: 100%;
    max-width: 500px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 60px;
    box-sizing: border-box;
    background-color: #00a5ab;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

/* Footer
------------------------------------------------------------------------------ */
footer.myvox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 20px;
    box-sizing: border-box;
    background-color: #fff;
}

footer.myvox > h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: #757575;
}

footer.myvox > h4 > img {
    width: auto;
    height: 20px;
    margin-left: 5px;
}

footer.myvox > p {
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

footer.myvox > p > i {
    margin: 0px 5px;
}
