
/* Header
------------------------------------------------------------------------------ */
header.menu {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #fff;
    z-index: 99;
}

header.menu::before {
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0px;
    border-radius: 20px 20px 0px 0px;
    background-color: #f5f5f5;
}

header.menu::after {
    content: '';
    display: block;
    clear: both;
}

header.menu > figure {
    width: auto;
    height: 100%;
    float: left;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 10px 25px 10px;
    box-sizing: border-box;
}

header.menu > figure > img {
    width: auto;
    height: 100%;
}

header.menu > nav {
    width: auto;
    height: 100%;
    float: right;
    padding: 10px 10px 25px 10px;
    box-sizing: border-box;
    background-color: #00a5ab;
}

header.menu > nav > ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

header.menu > nav > ul > li,
header.menu > nav > ul > li > a {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

header.menu > nav > ul > li > a > img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-sizing: border-box;
}

/* Main
------------------------------------------------------------------------------ */
main.menu {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

/*  */

main.menu > section[data-menu-categories] {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: scroll;
}

main.menu > section[data-menu-categories] > div {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
}

main.menu > section[data-menu-categories] > div:first-child {
    margin-right: 20px;
    border-right: 1px solid #dbdbdb;
}

main.menu > section[data-menu-categories] > div > a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 50%;
    background-color: #24383f;
    font-size: 22px;
    color: #fff;
}

main.menu > section[data-menu-categories] > div > span {
    width: 70px;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #757575;
}

/*  */

main.menu > section[data-menu-products],
main.menu > section[data-shopping-cart] {
    width: 100%;
    max-width: 800px;
    padding: 0px 20px;
    box-sizing: border-box;
}

main.menu > section[data-menu-products] > div,
main.menu > section[data-shopping-cart] > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
}

main.menu > section[data-menu-products] > div {
    height: 120px;
    align-items: center;
}

main.menu > section[data-shopping-cart] > div {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

main.menu > section[data-menu-products] > div:last-child,
main.menu > section[data-shopping-cart] > div:last-child {
    margin-bottom: 0px;
}

main.menu > section[data-menu-products] > div > figure {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
}

main.menu > section[data-menu-products] > div > figure > img {
    width: auto;
    height: 100%;
}

main.menu > section[data-menu-products] > div > div {
    width: calc(100% - 90px);
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
    box-sizing: border-box;
}

main.menu > section[data-menu-products] > div > div > h2,
main.menu > section[data-shopping-cart] > div > h2 {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #444;
}

main.menu > section[data-menu-products] > div > div > span,
main.menu > section[data-shopping-cart] > div > span {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

main.menu > section[data-menu-products] > div > div > div,
main.menu > section[data-shopping-cart] > div > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

main.menu > section[data-menu-products] > div > div > div > a,
main.menu > section[data-menu-products] > div > div > div > span,
main.menu > section[data-shopping-cart] > div > div > a,
main.menu > section[data-shopping-cart] > div > div > span {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 50%;
    font-size: 14px;
}

main.menu > section[data-menu-products] > div > div > div > a,
main.menu > section[data-shopping-cart] > div > div > a {
    background-color: #00a5ab;
    color: #fff;
}

main.menu > section[data-menu-products] > div > div > div > a:first-child {
    background-color: #f44336;
}

main.menu > section[data-shopping-cart] > div > div > a:last-child {
    background-color: #f44336;
}

main.menu > section[data-menu-products] > div > div > div > span,
main.menu > section[data-shopping-cart] > div > div > span {
    background-color: #eee;
    font-weight: 600;
    color: #444;
}

/*  */

section[data-modal="preview_menu_product"] > div.content > main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 20px 0px;
}

section[data-modal="preview_menu_product"] > div.content > main > figure {
    width: 100%;
    margin-bottom: 20px;
}

section[data-modal="preview_menu_product"] > div.content > main > figure > img {
    width: 100%;
}

section[data-modal="preview_menu_product"] > div.content > main > h2 {
    padding: 0px 20px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #444;
}

section[data-modal="preview_menu_product"] > div.content > main > span {
    margin-bottom: 20px;
    padding: 0px 20px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

section[data-modal="preview_menu_product"] > div.content > main > p {
    padding: 0px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #757575;
}

section[data-modal="preview_menu_product"] > div.content > main > div.buttons > a {
    background-color: #00a5ab;
}

/*  */

main.menu > section[data-total] {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

main.menu > section[data-total] > span {
    font-size: 40px;
    font-weight: 600;
    color: #444;
}

/*  */

main.menu > section[data-shopping-cart] > form div.label > label > p > a {
    color: #bdbdbd;
}

main.menu > section[data-shopping-cart] > form div.label > label > input,
main.menu > section[data-shopping-cart] > form div.label > label > select {
    height: 60px;
    border-radius: 5px;
    background-color: #fff;
}

main.menu > section[data-shopping-cart] > form div.buttons > button {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    margin: 0px;
}

/*  */

main.menu > section.buttons {
    height: 60px;
    position: fixed;
    right: 20%;
    bottom: 10px;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    background-color: #24383f;
}

@media (min-width: 1200px) {

    main.menu > section.buttons {
        right: 40%;
        left: 40%;
    }
}

main.menu > section.buttons > a {
    width: calc(100% / 2);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.4);
}

main.menu > section.buttons > a.active {
    color: #fff;
}

main.menu > section.buttons > a > i {
    margin: 5px 0px 2px 0px;
    font-size: 16px;
}

main.menu > section.buttons > a > span {
    font-size: 12px;
    white-space: nowrap;
}

/* Footer
------------------------------------------------------------------------------ */
footer.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px 90px 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

footer.menu > h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: #757575;
}

footer.menu > h4 > img {
    width: auto;
    height: 20px;
    margin-left: 5px;
}

footer.menu > p {
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

footer.menu > p > i {
    margin: 0px 5px;
}
