
/* Header
------------------------------------------------------------------------------ */
header.survey {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #fff;
    z-index: 99;
}

header.survey::before {
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0px;
    border-radius: 20px 20px 0px 0px;
    background-color: #f5f5f5;
}

header.survey::after {
    content: '';
    display: block;
    clear: both;
}

header.survey > figure {
    width: auto;
    height: 100%;
    float: left;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 10px 25px 10px;
    box-sizing: border-box;
}

header.survey > figure > img {
    width: auto;
    height: 100%;
}

header.survey > nav {
    width: auto;
    height: 100%;
    float: right;
    padding: 10px 10px 25px 10px;
    box-sizing: border-box;
    background-color: #00a5ab;
}

header.survey > nav > ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

header.survey > nav > ul > li,
header.survey > nav > ul > li > a {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

header.survey > nav > ul > li > a > img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-sizing: border-box;
}

/* Main
------------------------------------------------------------------------------ */
main.survey {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 20px 20px 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

main.survey > form {
    width: 100%;
    max-width: 800px;
}

main.survey > form div.tbl_stl_5 {
    padding: 0px;
}

main.survey > form div.tbl_stl_5 > div > div[data-level="2"],
main.survey > form div.tbl_stl_5 > div > div[data-level="3"] {
    display: none;
}

main.survey > form div.tbl_stl_5 > div > div[data-level="2"].open,
main.survey > form div.tbl_stl_5 > div > div[data-level="3"].open {
    display: block;
}

main.survey > form div.label > label > p > a {
    color: #bdbdbd;
}

main.survey > form div.label > label > input,
main.survey > form div.label > label > textarea,
main.survey > form div.label > label > select {
    border-radius: 5px;
    background-color: #fff;
}

main.survey > form div.label > label > input,
main.survey > form div.label > label > select {
    height: 60px;
}

main.survey > form div.buttons > a {
    background-color: #f44336;
    color: #fff;
}

/* Footer
------------------------------------------------------------------------------ */
footer.survey {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

footer.survey > h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: #757575;
}

footer.survey > h4 > img {
    width: auto;
    height: 20px;
    margin-left: 5px;
}

footer.survey > p {
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

footer.survey > p > i {
    margin: 0px 5px;
}
