
/* Main
------------------------------------------------------------------------------ */
main.signup {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

main.signup > form {
    width: 100%;
    max-width: 1200px;
}

main.signup > form > h2,
main.signup > form > h3 {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 0px;
}

main.signup > form > h3 {
    font-size: 20px;
    font-weight: 400;
}

main.signup > form > div.steps > div.step-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

main.signup > form > div.steps > div.step-buttons > a {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    padding: 10px;
    border: 2px solid #00a5ab;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    color: #00a5ab;
    background-color: #fff;
}

main.signup > form > div.steps > div.step-buttons > a::after {
    width: 22px;
    height: 2px;
    top: calc(50% - 1px);
    right: -22px;
    position: absolute;
    content: '';
    background-color: #00a5ab;
}

main.signup > form > div.steps > div.step-buttons > a:last-child::after {
    display: none;
}

main.signup > form > div.steps > div.step-buttons > a.view {
    color: #fff;
    background-color: #00a5ab;
}

main.signup > form > div.steps > div.step-buttons > a > img {
    width: 100%;
}

main.signup > form > div.steps > div.step-container {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

main.signup > form > div.steps > div.step-container.view {
    display: flex;
}

main.signup > form > div.steps > div.step-container > h2 {
    margin: 0px 0px 20px 0px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #000;
}

main.signup > form > div.steps > div.step-container > div.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

main.signup > form > div.steps > div.step-container > div.row > [class*=span] {
    padding: 0px 10px !important;
    box-sizing: border-box !important;
}

main.signup > form > div.steps > div.step-container > div.row > [class*=span] > [class*=span] {
    padding: 0px !important;
    min-height: auto !important;
}

main.signup > form > div.steps > div.step-container > div.row fieldset {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

main.signup > form > div.steps > div.step-container > div.row fieldset > input,
main.signup > form > div.steps > div.step-container > div.row fieldset > select {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 60px;
    padding: 0px 10px 0px 20px;
    box-sizing: border-box;
    background-color: #eee;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

main.signup > form > div.steps > div.step-container > div.row fieldset.error > input,
main.signup > form > div.steps > div.step-container > div.row fieldset.error > select {
    border: 1px solid #f44336;
}

main.signup > form > div.steps > div.step-container > div.row fieldset.path {
    position: relative;
}

main.signup > form > div.steps > div.step-container > div.row fieldset.path > span {
    position: absolute;
    top: -15px;
    right: 0px;
    left: 0px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

main.signup > form > div.steps > div.step-container > div.row div.package {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #00a5ab;
    cursor: pointer;
}

main.signup > form > div.steps > div.step-container > div.row div.package > span {
    margin-bottom: 20px;
    font-size: 70px;
    color: #fff;
    transition: 400ms;
}

main.signup > form > div.steps > div.step-container > div.row div.package > h3,
main.signup > form > div.steps > div.step-container > div.row div.package > h4,
main.signup > form > div.steps > div.step-container > div.row div.package > p {
    margin: 0px;
    text-align: center;
    color: #fff;
}

main.signup > form > div.steps > div.step-container > div.row div.package > h3 {
    font-size: 14px;
    font-weight: 400;
}

main.signup > form > div.steps > div.step-container > div.row div.package > h3 > span {
    display: block;
    font-size: 24px;
    font-weight: 600;
}

main.signup > form > div.steps > div.step-container > div.row div.package > h4 {
    font-size: 14px;
    font-weight: 400;
}

main.signup > form > div.steps > div.step-container > div.row div.package > h4 > span {
    display: block;
}

main.signup > form > div.steps > div.step-container > div.row div.package > p {
    margin-top: 15px;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
}

main.signup > form > div.steps > div.step-container > div.row div.uploader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.signup > form > div.steps > div.step-container > div.row div.uploader > fieldset {
    width: auto !important;
    padding: 0px !important;
}

main.signup > form > div.steps > div.step-container > div.row div.uploader > fieldset.error {
    border: 1px solid #f44336;
}

main.signup > form > div.steps > div.step-container > div.row div.uploader > fieldset > figure {
    width: 300px;
    min-height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
    overflow: hidden;
}

main.signup > form > div.steps > div.step-container > div.row div.uploader > fieldset > figure > img {
    width: 100%;
    height: auto;
}

main.signup > form > div.steps > div.step-container > div.row div.uploader > fieldset > figure > a {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: 400ms;
}

main.signup > form > div.steps > div.step-container > div.row div.uploader > fieldset > figure > a:hover {
    opacity: 1;
    transition: 400ms;
}

main.signup > form > div.steps > div.step-container > div.row div.uploader > fieldset > figure > a > i {
    font-size: 40px;
    color: #000;
}

main.signup > form > div.steps > div.step-container > div.row div.uploader > fieldset > figure > input[type="file"] {
    display: none;
}

main.signup > form > div.steps > div.step-container > div.row div.payment {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
}

main.signup > form > div.steps > div.step-container > div.row div.payment > fieldset {
    width: auto;
    padding: 0px;
}

main.signup > form > div.steps > div.step-container > div.row div.payment > fieldset.error {
    border-top: 1px solid #f44336;
    border-bottom: 1px solid #f44336;
}

main.signup > form > div.steps > div.step-container > div.row div.payment > fieldset:first-child.error {
    border-left: 1px solid #f44336;
}

main.signup > form > div.steps > div.step-container > div.row div.payment > fieldset:last-child.error {
    border-right: 1px solid #f44336;
}

main.signup > form > div.steps > div.step-container > div.row div.payment > fieldset > label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 10px;
    box-sizing: border-box;
    cursor: pointer;
}

main.signup > form > div.steps > div.step-container > div.row div.payment > fieldset > label > figure,
main.signup > form > div.steps > div.step-container > div.row div.payment > fieldset > label > figure > img {
    width: auto;
    height: 40px;
}

main.signup > form > div.steps > div.step-container > div.row div.payment > fieldset > label > figure {
    margin-bottom: 10px;
}

main.signup > form > div.steps > div.step-container > div.row div.success {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.signup > form > div.steps > div.step-container > div.row div.success > figure {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

main.signup > form > div.steps > div.step-container > div.row div.success > figure > img {
    width: 100%;
}

main.signup > form > div.steps > div.step-container > div.row div.success > p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    color: #757575;
}

main.signup > form > div.steps > div.step-container > a,
main.signup > form > div.steps > div.step-container > a[data-action="go_to_step"] {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0px 20px;
    border-radius: 60px;
    box-sizing: border-box;
    background-color: #eee;
    cursor: pointer;
    color: #000;
}

main.signup > form > div.steps > div.step-container > a {
    height: auto;
    background: none;
}

main.signup > form > div.steps > div.step-container > p {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

main.signup > form > div.steps > div.step-container > p > a {
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

main.signup > form > div.steps > div.step-container > figure {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.signup > form > div.steps > div.step-container > figure > img {
    width: 40px;
    height: 40px;
}

main.signup > form > div.steps > div.step-container > figure > span {
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}
