/* Header
------------------------------------------------------------------------------ */
header.reviews > div.topbar {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    box-sizing: border-box;
}

/*  */
header.reviews > div.topbar > figure.logotype,
header.reviews > div.topbar > figure.logotype > img {
    width: auto;
    height: 100%;
    line-height: 0px;
}


/*----------*/
main.reviews > div.chart-rate {
    width: 300px;
    min-height: 340px;
    float: left;
}

main.reviews > div.chart-rate > h2 {
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #757575;
}

main.reviews > div.chart-rate > div.average {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.reviews > div.chart-rate > div.average > h4 {
    font-size: 80px;
    font-weight: 600;
    line-height: 80px;
    color: #757575;
}

main.reviews > div.chart-rate > div.average > span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    box-sizing: border-box;
}

main.reviews > div.chart-rate > div.average > span > i {
    margin: 0px 5px;
    font-size: 24px;
    color: #757575;
}

main.reviews > div.chart-rate > div.progress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    box-sizing: border-box;
}

main.reviews > div.chart-rate > div.progress:last-child {
    padding-bottom: 0px;
}

main.reviews > div.chart-rate > div.progress > span {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

main.reviews > div.chart-rate > div.progress > span:first-child {
    width: 40px;
    justify-content: flex-start;
}

main.reviews > div.chart-rate > div.progress > span:first-child > i {
    margin-left: 5px;
    font-size: 14px;
    color: #ffeb3b;
}

main.reviews > div.chart-rate > div.progress > span:last-child {
    width: 80px;
    justify-content: flex-end;
}

main.reviews > div.chart-rate > div.progress > span > i {
    margin-right: 5px;
    font-size: 14px;
    color: #ffeb3b;
}

main.reviews > div.chart-rate > div.progress > progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 20px;
}

main.reviews > div.chart-rate > div.progress > progress::-webkit-progress-bar {
    border-radius: 20px;
    background-color: #eee;
}

main.reviews > div.chart-rate > div.progress > progress::-webkit-progress-value {
    border-radius: 20px;
    background-color: #00a5ab;
}

main.reviews > div.chart-rate > div.progress > progress::-moz-progress-bar {
    background-color: #eee;
}

main.reviews > div.chart-rate > div.progress > progress::-moz-progress-value {
    background-color: #00a5ab;
}

/* Footer
------------------------------------------------------------------------------ */

footer.landing-page-index > div.widget_cs > p:first-child{
    height: 120px;
}

footer.landing-page-index > div.widget_cs > p:last-child{
    width: 100%;
    font-size: 25px;
    margin: 40px 80px 40px 80px;
}

footer.landing-page-index {
    width: 100%;
    background-color: #fff;
    margin: 20px 0 20px 0px;
}

footer.landing-page-index > .container {
    height: 100%;
}

footer.landing-page-index > .container > nav,
footer.landing-page-index > .container > nav > ul {
    width: auto;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer.landing-page-index > .container > nav > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2px solid #00a5ab;
    box-sizing: border-box;
    color: #00a5ab;
    background: none;
    transition: 400ms;
}

footer.landing-page-index > .container > nav > ul > li > a.no-border {
    border-color: #fff;
}

footer.landing-page-index > .container > nav > ul > li > a:hover {
    text-decoration: none !important;
    color: #fff;
    background-color: #00a5ab !important;
    border-color: #00a5ab;
    transition: 400ms;
}

footer.landing-page-index > .container > figure {
    width: 200px;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
}

footer.landing-page-index > .container > figure > img {
    width: 100%;
}

@media (max-width: 768px) {

    footer.landing-page-index {
        height: auto;
        padding: 50px 0px;
        box-sizing: border-box;
    }

    footer.landing-page-index > .container > nav,
    footer.landing-page-index > .container > nav > ul {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    footer.landing-page-index > .container > figure {
        width: 100%;
        height: 80px;
    }

    footer.landing-page-index > .container > figure > img {
        width: auto;
        height: 100%;
    }
}
