
/* Header
------------------------------------------------------------------------------ */
header.reviews {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
}

header.reviews > figure,
header.reviews > figure > img {
    width: 100%;
}

@media (min-width: 768px) {

    header.reviews > figure {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header.reviews > figure > img {
        width: 400px;
    }
}

/* Main
------------------------------------------------------------------------------ */
main.reviews {
    width: 100%;
    padding: 0px 40px;
    box-sizing: border-box;
    background-color: #fff;
}

main.reviews > .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 768px) {

    main.reviews > .container {
        width: 90%;
        display: block;
    }
}

/*  */
main.reviews > .container > div.chart_rate {
    width: 100%;
    margin-bottom: 40px;
}

@media (min-width: 768px) {

    main.reviews > .container > div.chart_rate {
        width: 400px;
        float: left;
    }
}

main.reviews > .container > div.chart_rate > div.average {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

main.reviews > .container > div.chart_rate > div.average > h2 {
    margin-bottom: 10px;
    font-size: 100px;
    font-weight: 600;
    line-height: 80px;
    color: #757575;
}

main.reviews > .container > div.chart_rate > div.average > h2.one,
main.reviews > .container > div.chart_rate > div.average > span > i.one {
    color: #f44336;
}

main.reviews > .container > div.chart_rate > div.average > h2.two,
main.reviews > .container > div.chart_rate > div.average > span > i.two {
    color: #ffc107;
}

main.reviews > .container > div.chart_rate > div.average > h2.three,
main.reviews > .container > div.chart_rate > div.average > span > i.three {
    color: #ffeb3b;
}

main.reviews > .container > div.chart_rate > div.average > h2.four,
main.reviews > .container > div.chart_rate > div.average > span > i.four {
    color: #4caf50;
}

main.reviews > .container > div.chart_rate > div.average > h2.five,
main.reviews > .container > div.chart_rate > div.average > span > i.five {
    color: #00a5ab;
}

main.reviews > .container > div.chart_rate > div.average > span {
    display: flex;
    align-items: center;
    justify-content: center;
}

main.reviews > .container > div.chart_rate > div.average > span > i {
    margin: 0px 5px;
    font-size: 24px;
    color: #757575;
}

main.reviews > .container > div.chart_rate > div.average > span > i.one,
main.reviews > .container > div.chart_rate > div.average > span > i.two,
main.reviews > .container > div.chart_rate > div.average > span > i.three,
main.reviews > .container > div.chart_rate > div.average > span > i.four,
main.reviews > .container > div.chart_rate > div.average > span > i.five {
    font-size: 40px;
}

main.reviews > .container > div.chart_rate > div.progress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

main.reviews > .container > div.chart_rate > div.progress:last-child {
    margin-bottom: 0px;
}

main.reviews > .container > div.chart_rate > div.progress > span {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #212121;
}

main.reviews > .container > div.chart_rate > div.progress > span:first-child {
    width: 40px;
    justify-content: flex-start;
}

main.reviews > .container > div.chart_rate > div.progress > span:first-child > i {
    margin-left: 5px;
    font-size: 14px;
    color: #ffeb3b;
}

main.reviews > .container > div.chart_rate > div.progress > span:last-child {
    width: 80px;
    justify-content: flex-end;
}

main.reviews > .container > div.chart_rate > div.progress > span > i {
    margin-right: 5px;
    font-size: 14px;
    color: #ffeb3b;
}

main.reviews > .container > div.chart_rate > div.progress > progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 20px;
}

main.reviews > .container > div.chart_rate > div.progress > progress::-webkit-progress-bar {
    border-radius: 20px;
    background-color: #eee;
}

main.reviews > .container > div.chart_rate > div.progress > progress::-webkit-progress-value {
    border-radius: 20px;
    background-color: #00a5ab;
}

main.reviews > .container > div.chart_rate > div.progress > progress::-moz-progress-bar {
    background-color: #eee;
}

main.reviews > .container > div.chart_rate > div.progress > progress::-moz-progress-value {
    background-color: #00a5ab;
}

/*  */
main.reviews > .container > div.datas {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

@media (min-width: 768px) {

    main.reviews > .container > div.datas {
        width: calc(100% - 400px);
        float: right;
        padding-left: 20px;
        box-sizing: border-box;
    }
}

main.reviews > .container > div.datas > h1 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #212121;
}

main.reviews > .container > div.datas > a {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

main.reviews > .container > div.datas > a > i {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #eee;
    color: #757575;
}

main.reviews > .container > div.datas > p {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    color: #757575;
}

/*  */
main.reviews > .container > div.comments {
    width: 100%;
    margin-bottom: 40px;
}

@media (min-width: 768px) {

    main.reviews > .container > div.comments {
        width: 400px;
        float: left;
    }
}

main.reviews > .container > div.comments > div {
    width: 100%;
    margin-bottom: 20px;
}

main.reviews > .container > div.comments > div:last-child {
    margin-bottom: 0px;
}

main.reviews > .container > div.comments > div > h3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #212121;
}

main.reviews > .container > div.comments > div > h3 > i {
    font-size: 12px;
    margin-right: 5px;
}

main.reviews > .container > div.comments > div > p {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    line-height: 18px;
    color: #757575;
}

main.reviews > .container > div.comments > div > p > i {
    font-size: 10px;
    color: #212121;
}

main.reviews > .container > div.comments > div > p > i:first-child {
    margin-right: 5px;
}

main.reviews > .container > div.comments > div > p > i:last-child {
    margin-left: 5px;
}

main.reviews > .container > div.comments > p {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

/*  */
main.reviews > .container > div.social-media {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.reviews > .container > div.social-media > a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #757575;
}

/* Footer
------------------------------------------------------------------------------ */
footer.reviews {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
}

footer.reviews > h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: #757575;
}

footer.reviews > h4 > img {
    width: auto;
    height: 20px;
    margin-left: 5px;
}

footer.reviews > p {
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

footer.reviews > p > i {
    margin: 0px 5px;
}
