/* Header
------------------------------------------------------------------------------ */
header.landing-page-index {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #00a5ab;
    z-index: 99;
}

header.landing-page-index > .container {
    height: 100%;
}

header.landing-page-index > .container > figure {
    width: 200px;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
}

header.landing-page-index > .container > figure > img {
    width: 100%;
}

header.landing-page-index > .container > nav,
header.landing-page-index > .container > nav > ul {
    width: auto;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.landing-page-index > .container > nav > ul:last-child {
    display: none;
}

header.landing-page-index > .container > nav > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 100px;
    box-sizing: border-box;
    color: #fff;
    background: none;
    transition: 400ms;
}

header.landing-page-index > .container > nav > ul > li > a.no-border {
    border-color: #00a5ab;
}

header.landing-page-index > .container > nav > ul > li > a.lang {
    padding: 0px;
}

header.landing-page-index > .container > nav > ul > li > a:hover {
    text-decoration: none !important;
    color: #00a5ab;
    background-color: #fff !important;
    border-color: #fff;
    transition: 400ms;
}

header.landing-page-index > .container > nav > ul > li > a > img {
    width: auto;
    height: 20px;
}

@media (max-width: 768px) {

    header.landing-page-index > .container > nav {
        position: relative;
    }

    header.landing-page-index > .container > nav > ul:last-child {
        display: flex;
    }

    header.landing-page-index > .container > nav > ul:first-child {
        width: 300px;
        height: 100vh;
        position: fixed;
        top: 0px;
        right: -340px;
        bottom: 0px;
        float: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        box-shadow: -10px 2px 8px -12px rgba(0,0,0,0.75);
        transition: 400ms;
        z-index: 99;
    }

    header.landing-page-index > .container > nav > ul:first-child.open {
        right: 0px;
        transition: 400ms;
    }

    header.landing-page-index > .container > nav > ul:first-child > li > a {
        min-width: 125px;
        border: 2px solid #00a5ab;
        color: #00a5ab;
    }

    header.landing-page-index > .container > nav > ul:first-child > li > a.no-border {
        border-color: #fff;
    }

    header.landing-page-index > .container > nav > ul:first-child > li > a:hover {
        color: #fff;
        background-color: #00a5ab !important;
        border-color: #00a5ab;
    }
}

/* Footer
------------------------------------------------------------------------------ */

footer.landing-page-index > div > div.widget_cs{
    display: flex;
    height: 120px;
    padding: 0 40px 0 40px;
}

footer.landing-page-index > div > div.widget_cs > p:first-child{
    height: 120px;
}

footer.landing-page-index > div > div.widget_cs > p:last-child{
    width: 100%;
    font-size: 25px;
    margin: 40px 80px 40px 80px;
}

footer.landing-page-index {
    width: 100%;
    background-color: #fff;
    margin: 20px 0 20px 0px;
}

footer.landing-page-index > .container {
    height: 100%;
}

footer.landing-page-index > .container > nav,
footer.landing-page-index > .container > nav > ul {
    width: auto;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer.landing-page-index > .container > nav > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2px solid #00a5ab;
    box-sizing: border-box;
    color: #00a5ab;
    background: none;
    transition: 400ms;
}

footer.landing-page-index > .container > nav > ul > li > a.no-border {
    border-color: #fff;
}

footer.landing-page-index > .container > nav > ul > li > a:hover {
    text-decoration: none !important;
    color: #fff;
    background-color: #00a5ab !important;
    border-color: #00a5ab;
    transition: 400ms;
}

footer.landing-page-index > .container > figure {
    width: 200px;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
}

footer.landing-page-index > .container > figure > img {
    width: 100%;
}

@media (max-width: 768px) {

    footer.landing-page-index {
        height: auto;
        padding: 50px 0px;
        box-sizing: border-box;
    }

    footer.landing-page-index > .container > nav,
    footer.landing-page-index > .container > nav > ul {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    footer.landing-page-index > .container > figure {
        width: 100%;
        height: 80px;
    }

    footer.landing-page-index > .container > figure > img {
        width: auto;
        height: 100%;
    }
}
